---
title: Bar Chart
layout: example.hbs
---

<h1>Bar Chart</h1>

<h3>Specification and Data from URL</h3>

<style type="text/css">
  .cedar-tooltip {
    background-color: #f36f22;
    padding: 3px 10px;
    color: #fff;
    position: absolute;
    z-index: 2000;
    font-size: 10px;    
  }
  .cedar-tooltip .title {
    font-size: 13pt;
    font-weight: bold;
  }
  .cedar-tooltip .content {
    font-size: 10pt;
  }
</style>


<div id="tooltip-url" class="cedar-tooltip" style="display: none"></div>
<div id="chart-url"></div>

{{#markdown}}
```javascript
{{>example-bar-url}}
```
{{/markdown}}

{{>example-bar-url}}

<h3>Inline Data</h3>

<div id="tooltip-data" class="cedar-tooltip" style="display: none"></div>
<div id="chart-data"></div>

{{#markdown}}
```javascript
{{>example-bar-data}}
```
{{/markdown}}

{{>example-bar-data}}

