---
title: Bar Chart
layout: example.hbs
---

<h1>Bar Chart</h1>

<h3>Data from URL</h3>

<div id="tooltip-url" class="cedar-tooltip" style="display: none"></div>
<div id="chart-url"></div>

{{#markdown}}
```javascript
{{>example-bar-url}}
```
{{/markdown}}

{{>example-bar-url}}

<h3>Inline Data</h3>

<div id="tooltip-data" class="cedar-tooltip" style="display: none"></div>
<div id="chart-data"></div>

{{#markdown}}
```javascript
{{>example-bar-data}}
```
{{/markdown}}

{{>example-bar-data}}

