---
title: Bar Chart
layout: example.hbs
---

<h1>Bar Chart </h1>

<h3>Data from URL <small>{<a href="http://jsfiddle.net/gh/get/jquery/1.11.0/esri/cedar/tree/master/examples/bar">JSFiddle</a>}</small></h3>

 <div id="resizable" class="ui-widget-content">
  <div id="chart-url" style="height: 100%"></div>
</div>

{{#markdown}}
```javascript
{{>example-bar-url}}
```
{{/markdown}}

{{>example-bar-url}}

<h3>Inline Data</h3>

<div id="chart-data"></div>

{{#markdown}}
```javascript
{{>example-bar-data}}
```
{{/markdown}}

{{>example-bar-data}}

