---
title: Bar Chart
layout: example.hbs
---


<h2>Example</h2>
 <div id="resizable" class="ui-widget-content">
  <div id="chart-url" style="height: 100%"></div>
 </div>

<h2>Code</h2>
{{#markdown}}
```javascript
{{>example-bar-url}}
```
{{/markdown}}

{{>example-bar-url}}

<h2>Example: Inline Data</h2>
<div id="chart-data"></div>

<h2>Code</h2>
{{#markdown}}
```javascript
{{>example-bar-data}}
```
{{/markdown}}

{{>example-bar-data}}
