---
layout: example.hbs
---

<div id="chart"></div>


{{#markdown}}
```javascript
  var chart = new Cedar({
    "type":"bubble",
    "datasets":[
      {
        "url": "https://services.arcgis.com/uDTUpUPbk8X8mXwl/arcgis/rest/services/Public_Schools_in_Onondaga_County/FeatureServer/0",
        "mappings":{
          "category": { "field":"F_of_teach", "label": "Fraction of Teachers" },
          "series": [
            { "field": "Number_of", "label": "Number_of" },
            { "field": "Number_of", "label": "Number of Students" }
          ]
        }
      }
    ]
  });

  chart.tooltip = {
    "title": "{NAME}",
    "content": "{Number_of} out of {Number_of} Students in {F_of_teach} sq. ft."
  };

  chart.show({
    elementId: "#chart",
  });

  chart.on('mouseout', function(event,data){
      var cedartip = document.getElementById(tooltipurl.id);
      cedartip.style.display = "none";
    })
  chart.on('mouseover', function(event,data){
      var cedartip = document.getElementById(tooltipurl.id);
      cedartip.style.top = event.offsetY+40 + "px";
      cedartip.style.left = event.offsetX+30 + "px";
      cedartip.style.display = "block";
      var content = "<span class='title'>" + tooltipurl.title + "</span><br />";
      content += "<p class='content'>" + tooltipurl.content + "</p>";

      cedartip.innerHTML = content.replace( /\{(\w+)\}/g, function replacer(match, $1){
        return data[$1];
      } );
    });

 ```
{{/markdown}}



<script>
  var chart = new Cedar({
    "type":"bubble",
    "datasets":[
      {
        "url": "https://services.arcgis.com/uDTUpUPbk8X8mXwl/arcgis/rest/services/Public_Schools_in_Onondaga_County/FeatureServer/0",
        "mappings":{
          "category": { "field":"F_of_teach", "label": "Fraction of Teachers" },
          "series": [
            { "field": "Number_of", "label": "Number_of" },
            { "field": "Number_of", "label": "Number of Students" }
          ]
        }
      }
    ]
  });

  chart.tooltip = {
    "title": "{NAME}",
    "content": "{Number_of} out of {Number_of} Students in {F_of_teach} sq. ft."
  };

  chart.show({
    elementId: "#chart",
  });


</script>
