---
layout: example.hbs
---


<h1>Bubble Chart</h1>
  
  <style type="text/css">
  .cedar-tooltip {
    background-color: #f36f22;
    padding: 3px 10px;
    color: #fff;
    position: fixed;
    z-index: 2000;
    font-size: 10px;    
  }
  .cedar-tooltip .title {
    font-size: 15pt;
    font-weight: bold;
  }
  .cedar-tooltip .content {
    font-size: 10pt;
  }
</style>


<div id="tooltip" class="cedar-tooltip" style="display: none"></div>
<div id="chart"></div>


{{#markdown}}
```html
{{>example-code-header}}
  var chart = new Cedar({
    "specification":"{{assets}}data/templates/bubble.json",
    "dataset":{
      "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
      "query":{},
      "mappings":{
        "x": {"field":"POPULATION_ENROLLED_2008","label":"Enrollment 2008"},
        "y": {"field":"SQUARE_FOOTAGE","label":"Square Footage"},
        "size":{"field":"TOTAL_STUD","label":"Number Students"}
      }
    }
  });

  chart.show({
    elementId: "#chart",
  });

 
{{>example-code-footer}}
```
{{/markdown}}



<script>
  var chart = new Cedar({
    "specification":"{{assets}}data/templates/bubble.json",
    "dataset":{
      "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
      "query":{},
      "mappings":{
        "x": {"field":"SQUARE_FOOTAGE","label":"Square Footage"},
        "y": {"field":"CAPACITY","label":"Capacity"},
        "size":{"field":"TOTAL_STUD","label":"Number of Students"}
      }
    }
  });

  var tooltipurl = {
    "id": "tooltip",
    "title": "{NAME}",
    "content": "{TOTAL_STUD} out of {CAPACITY} Students in {SQUARE_FOOTAGE} sq. ft."
  }  

  chart.show({
    elementId: "#chart",
  });

  chart.on('mouseout', function(event,data){
      var cedartip = document.getElementById(tooltipurl.id);
      cedartip.style.display = "none";
    })
  chart.on('mouseover', function(event,data){
      var cedartip = document.getElementById(tooltipurl.id);
      console.log(event)
      cedartip.style.top = event.pageY + "px";
      cedartip.style.left = event.pageX+10 + "px";
      cedartip.style.display = "block";
      var content = "<span class='title'>" + tooltipurl.title + "</span><br />";
      content += "<p class='content'>" + tooltipurl.content + "</p>";

      cedartip.innerHTML = content.replace( /\{(\w+)\}/g, function replacer(match, $1){
        return data[$1];
      } );
    });  


</script>