---
title: Example - Drill Down
layout: example.hbs
---

<a href="#" onclick="resetChart(); return false">Reset Chart</a>&nbsp;<span id="filter"></span>

<div id="chart"></div>

<script>

  var chart = new Cedar({
    "type": "bar"
  });


  function buildDataset(group, count) {
    return {
      "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
      "query": {
        "groupByFieldsForStatistics": group,
        "outStatistics": [{
          "statisticType": "sum", 
          "onStatisticField": count, 
          "outStatisticFieldName": count + "_SUM"
        }]
      }, 
      "mappings":{
        "x": {"field":group, "label": group},
        "y": {"field":count + "_SUM", "label": count},
        "sort": count + "_SUM DESC"
      }
    };

  }
  chart.dataset = buildDataset('ZIP_CODE', 'TOTAL_STUD');

  function facetChart(event,data){
    if(data === undefined || data === null) {
      return;
    }
    var selected = data[chart.dataset.mappings.x.field];

    if(chart.dataset.mappings.x.field == "ZIP_CODE") {
      var where = chart.dataset.mappings.x.field + " = " + selected;

      chart.dataset = buildDataset('FACUSE', 'TOTAL_STUD');
    } else { 
      var where = chart.dataset.mappings.x.field + " = '" + selected + "'";

      chart.dataset = buildDataset('ZIP_CODE', 'TOTAL_STUD');
    }
    chart.dataset.query.where = where
    document.getElementById('filter').innerHTML = where;
    chart.update()
  }

  function resetChart(){
    document.getElementById('filter').innerHTML = "no filter";

    chart.dataset = buildDataset('ZIP_CODE', 'TOTAL_STUD');
    chart.dataset.query.where = "1=1"
    chart.update()
  }  


  chart.show({
    elementId: "#chart",
    autolabels: true
  });

  chart.on('click', facetChart);

</script>