---
title: Error Bars
layout: example.hbs
---

  <div id="chart"></div>
    <script>
      var chart;
      var features = {"features": [
        {"attributes": {"state": "CA", "pop": 5000, "error": 2000}},
        {"attributes": {"state": "AZ", "pop": 2000, "error": 1400}},
        {"attributes": {"state": "NY", "pop": 8000, "error": 1000}}
      ]};

      var chart = new Cedar({
        "type": "bar",
        "tooltip": {
          "title": "{state}",
          "content": "{pop} people (+/-{error})"
        },
        "dataset": {
          "data": features,
          "mappings": {
            "x": {"field":"state","label":"State"},
            "y": {"field":"pop","label":"Population"} } } });

      var added = false;
      // TODO: Remove need for events by extending Cedar.override to add nodes to marks, not just replace existing
      chart.on('update-end', function() { 
        if(!added) {
          // addErrorBars("datum.attributes.error");
          addErrorBars("0.2*datum.attributes.pop");
          added = true;
        }
        
      })
      chart.show({ elementId: "#chart", height: 300 });
      



      function addErrorBars(errorFunction,color) {
        color = typeof color !== 'undefined' ? color : '#555';
        var error_transform = [
          {"type": "formula", "field": "error", "expr": errorFunction},
          {"type": "formula", "field": "low", "expr": "datum.attributes.pop - datum.error"},
          {"type": "formula", "field": "high", "expr": "datum.attributes.pop + datum.error"}
        ];
        var error_scale = {
          "name": "x2",
          "type": "ordinal",
          "range": "width",
          "points": true,
          "padding": 1.25,
          "domain": {"data": "table", "field": "attributes.state"}
        };
        var error_bars = [{
              "type": "rect",
              "from": {"data": "table", "transform": error_transform},
              "properties": {
                "enter": {
                  "x": {"scale": "x2", "field": "attributes.state", "offset": -1},
                  "width": {"value": 1},
                  "y": {"scale": "y", "field": "low"},
                  "y2": {"scale": "y", "field": "high"},
                  "fill": {"value": color}
                }
              }
            },
            {
              "type": "rect",
              "from": {"data": "table","transform": error_transform},
              "properties": {
                "enter": {
                  "xc": {"scale": "x2", "field": "attributes.state", "offset": -1},
                  "width": {"scale": "x", "band": true, "offset": -1, "mult": 0.3},
                  "y": {"scale": "y", "field": "low"},
                  "height": {"value": 1},
                  "fill": {"value": color}
                }
              }
            },
            {
              "type": "rect",
              "from": {"data": "table","transform": error_transform},
              "properties": {
                "enter": {
                  "xc": {"scale": "x2", "field": "attributes.state", "offset": -1},
                  "width": {"scale": "x", "band": true, "offset": -1, "mult": 0.3},
                  "y": {"scale": "y", "field": "high"},
                  "height": {"value": 1},
                  "fill": {"value": color}
                }
              }
          }]
        chart.specification.template.marks = chart.specification.template.marks.concat(error_bars); 
        chart.specification.template.scales.push(error_scale); 
        chart.update();
      }
      
    </script>

