---
layout: example.hbs
---

<style>
  #chart {
    margin-bottom:50px;
  }
  #chart canvas {
    margin: auto;
    display: block;
  }
</style>

<link rel="stylesheet" href="http://js.arcgis.com/3.12/esri/css/esri.css">
<script src="http://js.arcgis.com/3.12/"></script>


<h1>Filter Chart by Map Extent</h1>

<div id="map"></div>
<div id="chart"></div>



{{#markdown}}
```html
{{>example-code-header}}
  
  require(["esri/map", "esri/layers/FeatureLayer", "esri/symbols/SimpleMarkerSymbol", "esri/symbols/SimpleLineSymbol",
    "esri/renderers/SimpleRenderer",  "esri/renderers/UniqueValueRenderer", "esri/Color", "dojo/domReady!"], function(Map, FeatureLayer, 
       SimpleMarkerSymbol, SimpleLineSymbol, SimpleRenderer, UniqueValueRenderer, Color) { 

    var defaultSymbol = new SimpleMarkerSymbol(SimpleMarkerSymbol.STYLE_CIRCLE, 9,
      new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID,
      new Color([198,12,70,1]), 1),
      new Color([248,187,37,0.9]));

    var rend = new SimpleRenderer(defaultSymbol);

    var featureLayer = new FeatureLayer("http://services.arcgis.com/bkrWlSKcjUDFDtgw/arcgis/rest/services/It's_a_Tornado_Map/FeatureServer/0",{
      mode: FeatureLayer.SNAPSHOT,
      outFields: ["*"]
    });

    //create esri map
    var map = new Map("map", {
      center: [-99, 38.9],
      zoom: 4,
      basemap: "topo",
      smartNavigation: false
    });

    map.on('load', function() {
      map.disableScrollWheelZoom();
    });

    map.on('zoom-end', function() {
      onMapZoomed();
    });

    window.map = map;

    featureLayer.setRenderer(rend);
    map.addLayer(featureLayer);
    
    var dataset = {
      "url":"http://services.arcgis.com/bkrWlSKcjUDFDtgw/arcgis/rest/services/It's_a_Tornado_Map/FeatureServer/0",
      "query": {},
      "mappings":{
        "group": {"field":"state","label":"State"},
        "count": {"field":"injuries","label":"Injuries"}
      }
    };

    var chart = new Cedar({"specification":"../data/templates/bar.json", "dataset": dataset});

    chart.override = {
      "height": 300,
      "marks": [{"properties": {
          "hover": {"fill": {"value": "#f8bb25"}},
          "update": {"fill": {"value": "#c60c46"}}
        }
      }]
    };

    //create and render a chart
    chart.show({
      'elementId': '#chart'
    });
    window.chart = chart;


    //filter by map extent when user zooms
    function onMapZoomed() {
      var extent = map.extent;
      extent = JSON.stringify(extent);
      chart.dataset.query.geometry = extent;
      chart.update();
    }

  });

{{>example-code-footer}}
```
{{/markdown}}


<script>
  require(["esri/map", "esri/layers/FeatureLayer", "esri/symbols/SimpleMarkerSymbol", "esri/symbols/SimpleLineSymbol",
    "esri/renderers/SimpleRenderer",  "esri/renderers/UniqueValueRenderer", "esri/Color", "dojo/domReady!"], function(Map, FeatureLayer, 
       SimpleMarkerSymbol, SimpleLineSymbol, SimpleRenderer, UniqueValueRenderer, Color) { 

    var defaultSymbol = new SimpleMarkerSymbol(SimpleMarkerSymbol.STYLE_CIRCLE, 9,
      new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID,
      new Color([198,12,70,1]), 1),
      new Color([248,187,37,0.9]));

    var rend = new SimpleRenderer(defaultSymbol);

    var featureLayer = new FeatureLayer("http://services.arcgis.com/bkrWlSKcjUDFDtgw/arcgis/rest/services/It's_a_Tornado_Map/FeatureServer/0",{
      mode: FeatureLayer.SNAPSHOT,
      outFields: ["*"]
    });

    //create esri map
    var map = new Map("map", {
      center: [-99, 38.9],
      zoom: 4,
      basemap: "topo",
      smartNavigation: false
    });

    map.on('load', function() {
      map.disableScrollWheelZoom();
    });

    map.on('zoom-end', function() {
      onMapZoomed();
    });

    window.map = map;

    featureLayer.setRenderer(rend);
    map.addLayer(featureLayer);
    
    var dataset = {
      "url":"http://services.arcgis.com/bkrWlSKcjUDFDtgw/arcgis/rest/services/It's_a_Tornado_Map/FeatureServer/0",
      "query": {},
      "mappings":{
        "group": {"field":"state","label":"State"},
        "count": {"field":"injuries","label":"Injuries"}
      }
    };

    var chart = new Cedar({"specification":"../data/templates/bar.json", "dataset": dataset});

    chart.override = {
      "height": 300,
      "marks": [{"properties": {
          "hover": {"fill": {"value": "#f8bb25"}},
          "update": {"fill": {"value": "#c60c46"}}
        }
      }]
    };

    //create and render a chart
    chart.show({
      'elementId': '#chart'
    });
    window.chart = chart;

    console.log('chart', chart);

    //filter by map extent when user zooms
    function onMapZoomed() {
      var extent = map.extent;
      extent = JSON.stringify(extent);
      console.log('extent', extent);
      chart.dataset.query.geometry = extent;
      chart.update();
    }

  });

</script>