---
layout: example.hbs
---

<style>
  #chart {
    margin-bottom:50px;
  }
  #chart canvas {
    margin: auto;
    display: block;
  }
</style>

<link rel="stylesheet" href="http://js.arcgis.com/3.12/esri/css/esri.css">
<script src="http://js.arcgis.com/3.12/"></script>


<h1>Filter Chart by Map Extent</h1>

<div id="map"></div>
<div id="chart"></div>



{{#markdown}}
```html
{{>example-code-header}}
  
  require(["esri/map", "esri/layers/FeatureLayer", "esri/symbols/SimpleMarkerSymbol", "esri/symbols/SimpleLineSymbol",
    "esri/renderers/SimpleRenderer",  "esri/renderers/UniqueValueRenderer", "esri/Color", "dojo/domReady!"], function(Map, FeatureLayer, 
       SimpleMarkerSymbol, SimpleLineSymbol, SimpleRenderer, UniqueValueRenderer, Color) { 

    var defaultSymbol = new SimpleMarkerSymbol(SimpleMarkerSymbol.STYLE_CIRCLE, 9,
      new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID,
      new Color([220,220,220]), 0.5),
      new Color([210,105,30,0.55]));

    var rend = new SimpleRenderer(defaultSymbol);

    var featureLayer = new FeatureLayer("http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",{
      mode: FeatureLayer.SNAPSHOT,
      outFields: ["*"]
    });

    //create esri map
    var map = new Map("map", {
      center: [-77, 38.9],
      zoom: 11,
      basemap: "topo",
      smartNavigation: false
    });

    map.on('load', function() {
      map.disableScrollWheelZoom();
    });

    featureLayer.setRenderer(rend);

    map.addLayer(featureLayer);
    //create a cedar chart
    var chart = new Cedar({"specification":"../data/templates/bar.json"});

    var dataset = {
        "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
        "mappings":{
          "group": {"field":"CAPITALGAINS","label":"Capital Gains"},
          "count": {"field":"CAPACITY","label":"Student Capacity"}
        }
      };

    var chart = new Cedar({"specification":"../data/templates/bar.json", "dataset": dataset});

    //create and render a chart
    chart.show({
      'elementId': '#chart'
    });
    //some user action that sets the zip code... and thus updates the where clause on the query
    chart.dataset.query.where = "ZIP_CODE = 20007";

    //update the chart
    chart.update();

    //CHART EVENTS
    chart.on('mouseover', onChartHover);

    function onChartHover(d) {
      
      //get selected value for attribute in chart marker
      var selected = d[dataset.mappings.group.field];
      
      //create renderer
      var renderer = new UniqueValueRenderer(defaultSymbol, dataset.mappings.group.field);

      //add symbol selected value
      renderer.addValue(selected, new SimpleMarkerSymbol().setColor(new Color([210,105,30, 0.5])));

      featureLayer.setRenderer(renderer);
      featureLayer.refresh();

    } 
  });
{{>example-code-footer}}
```
{{/markdown}}


<script>
  require(["esri/map", "esri/layers/FeatureLayer", "esri/symbols/SimpleMarkerSymbol", "esri/symbols/SimpleLineSymbol",
    "esri/renderers/SimpleRenderer",  "esri/renderers/UniqueValueRenderer", "esri/Color", "dojo/domReady!"], function(Map, FeatureLayer, 
       SimpleMarkerSymbol, SimpleLineSymbol, SimpleRenderer, UniqueValueRenderer, Color) { 

    var defaultSymbol = new SimpleMarkerSymbol(SimpleMarkerSymbol.STYLE_CIRCLE, 9,
      new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID,
      new Color([198,12,70,1]), 1),
      new Color([248,187,37,0.9]));

    var rend = new SimpleRenderer(defaultSymbol);

    var featureLayer = new FeatureLayer("http://services.arcgis.com/bkrWlSKcjUDFDtgw/arcgis/rest/services/It's_a_Tornado_Map/FeatureServer/0",{
      mode: FeatureLayer.SNAPSHOT,
      outFields: ["*"]
    });

    //create esri map
    var map = new Map("map", {
      center: [-99, 38.9],
      zoom: 4,
      basemap: "topo",
      smartNavigation: false
    });

    map.on('load', function() {
      map.disableScrollWheelZoom();
    });

    map.on('zoom-end', function() {
      onMapZoomed();
    });

    window.map = map;

    featureLayer.setRenderer(rend);
    map.addLayer(featureLayer);
    
    var dataset = {
      "url":"http://services.arcgis.com/bkrWlSKcjUDFDtgw/arcgis/rest/services/It's_a_Tornado_Map/FeatureServer/0",
      "query": {},
      "mappings":{
        "group": {"field":"state","label":"State"},
        "count": {"field":"injuries","label":"Injuries"}
      }
    };

    var chart = new Cedar({"specification":"../data/templates/bar.json", "dataset": dataset});

    chart.override = {
      "height": 300,
      "marks": [{"properties": {
          "hover": {"fill": {"value": "#f8bb25"}},
          "update": {"fill": {"value": "#c60c46"}}
        }
      }]
    };

    //create and render a chart
    chart.show({
      'elementId': '#chart'
    });
    window.chart = chart;

    //some user action that sets the zip code... and thus updates the where clause on the query
    console.log('chart', chart);
    chart.update();
    /*
    var geom = '{"xmin":-14569155.778448395,"ymin":2872868.857424088,"xmax":-5567931.3275884325,"ymax":6786444.705624072,"spatialReference":{"wkid":102100}}'
    var insr = 102100;
    chart.dataset.query.geometry = geom;
    chart.dataset.query.inSR = insr;

    function onMapZoomed() {
      var extent = map.extent;
      console.log('extent', extent);
      chart.dataset.query.geometry = extent;
      chart.update();
    }
    */

  });

</script>