---
title: Grouped Bar Chart
layout: example.hbs
---


<div id="chart"></div>

<pre class="prettyprint">
var chart = new Cedar({
	"type": "grouped",
	"tooltip": {
		"title": "{NAME}",
		"content": "{POP2012} population in 2012"
	},
  "datasets":[
    {
      "url": "https://services2.arcgis.com/cPVqgcKAQtE6xCja/arcgis/rest/services/SCCntyBirths2003_2012/FeatureServer/0"
    }
  ],
  "series": [
    {
      "category": { "field": "NAME", "label": "Name" },
      "value": { "field":"MED_AGE_M","label":"Age" }
    },
    {
      "category": { "field": "NAME", "label": "Name" },
      "value": { "field":"MED_AGE_F","label":"Age" }
    },
    {
      "category": { "field": "NAME", "label": "Name" },
      "value": { "field":"MED_AGE","label":"Age" }
    }
  ]
});

chart.show({
	elementId: "#chart",
	height: 300
});
</pre>

<div id="chart2"></div>

<pre class="prettyprint">
var chart2 = new Cedar({
  "type": "grouped",
  "tooltip": {
  	"title": "{STATE_NAME}",
  	"content": "{MaleVets2010} Male Vets | {FemaleVets2010} Female Vets"
  },
  "datasets": [
    {
      "url": "https://maps7.arcgisonline.com/arcgis/rest/services/Veterans_by_Gender/MapServer/1"
    }
  ],
  "series": [
    {
      "category": { "field":"STATE_NAME","label":"State" },
      "value": { "field": "MaleVets2010", "label": "Veterans by Gender" }
    },
    {
      "category": { "field":"STATE_NAME","label":"State" },
      "value": { "field": "FemaleVets2010", "label": "Veterans by Gender" }
    }
  ]
});

chart2.show({
	elementId: "#chart2",
	height: 300
});
</pre>
<script>

  var chart = new Cedar({
    "type": "grouped",
    "tooltip": {
    	"title": "{NAME}",
    	"content": "{POP2012} population in 2012"
    },
    "datasets":[
      {
        "url": "https://services2.arcgis.com/cPVqgcKAQtE6xCja/arcgis/rest/services/SCCntyBirths2003_2012/FeatureServer/0"
      }
    ],
		"series": [
      {
        "category": { "field": "NAME", "label": "Name" },
        "value": { "field":"MED_AGE_M","label":"Age" }
      },
      {
        "category": { "field": "NAME", "label": "Name" },
        "value": { "field":"MED_AGE_F","label":"Age" }
      },
      {
        "category": { "field": "NAME", "label": "Name" },
        "value": { "field":"MED_AGE","label":"Age" }
      }
		]
  });

  chart.show({
    elementId: "#chart",
    height: 300
  });


  var chart2 = new Cedar({
    "type": "grouped",
    "tooltip": {
    	"title": "{STATE_NAME}",
    	"content": "{MaleVets2010} Male Vets | {FemaleVets2010} Female Vets"
    },
    "datasets": [
			{
				"url": "https://maps7.arcgisonline.com/arcgis/rest/services/Veterans_by_Gender/MapServer/1"
			}
		],
    "series": [
      {
        "category": { "field":"STATE_NAME","label":"State" },
        "value": { "field": "MaleVets2010", "label": "Veterans by Gender" }
      },
      {
        "category": { "field":"STATE_NAME","label":"State" },
        "value": { "field": "FemaleVets2010", "label": "Veterans by Gender" }
      }
    ]
  });

  chart2.show({
    elementId: "#chart2",
    height: 300
  });


</script>
