---
title: Grouped Bar Chart
layout: example.hbs
---


<div id="chart"></div>


<script>
var specification = {
  "inputs": [
    { "name": "x", "type": [ "numeric", "string" ], "required": false },
    { "name": "y", "type": [ "string" ], "required": true },
    { "name": "category", "type": [ "string" ], "required": true }
  ],
  "query": {},
  "template":{
    "padding": "strict",
    "data": [
      {
        "name": "table",
        "format": {"property": "features"}
      }
    ],
      "scales": [
    {
      "name": "cat",
      "type": "ordinal",
      "domain": {"data": "table", "field": "attributes.{category.field}"},
      "range": "width",
      "padding": 0.2
    },
    {
      "name": "val",
      "type": "linear",
      "domain": {"data": "table", "field": "attributes.{y.field}"},
      "range": "height",
      "round": true,
      "nice": true
    },
    {
      "name": "color",
      "type": "ordinal",
      "domain": {"data": "table", "field": "attributes.{x.field}"},
      "range": "category20"
    }
  ],
  "axes": [
    {"type": "x", "scale": "cat", "tickSize": 0, "tickPadding": 8,"properties": {
          "title": {
            "fontSize": {"value": 15},
            "fill": {"value": "#999"},
            "fontWeight": {"value": "normal"}
          },          
          "axis": {
             "stroke": {"value": "#dbdad9"},
             "strokeWidth": {"value": 1.5}
          },
          "ticks": {
             "stroke": {"value": "#dbdad9"}
          },
          "labels": {
            "fill": {"value": "#999"},
            "angle": {"value": -50},
            "align": {"value": "right"},
            "baseline": {"value": "middle"}
          }
        }},
    {"type": "y", "scale": "val","grid": true,"layer":"back", "properties": {
          "title": {
            "fontSize": {"value": 15},
            "fill": {"value": "#999"},
            "fontWeight": {"value": "normal"}
          },          
          "axis": {
             "stroke": {"value": "#dbdad9"},
             "strokeWidth": {"value": 1.5}
          },
          "ticks": {
             "stroke": {"value": "#dbdad9"}
          },
          "labels": {
            "fill": {"value": "#999"}
          }
        }}
  ],
  "legends": [
    {"fill": "color", "title": "{x.label}"}
  ],
  "marks": [
    {
      "type": "group",
      "from": {
        "data": "table",
        "transform": [{"type":"facet", "groupby": ["attributes.{category.field}"]}]
      },
      "properties": {
        "enter": {
          "x": {"scale": "cat", "field": "key"},
          "height": {"scale": "cat", "band": true}
        }
      },
      "scales": [
        {
          "name": "pos",
          "type": "ordinal",
          "range": "height",
          "domain": {"field": "attributes.{x.field}"}
        }
      ],
      "marks": [
        {
          "name": "bars",
          "type": "rect",
          "properties": {
            "enter": {
              "x": {"scale": "pos", "field": "attributes.{x.field}"},
              "width": {"scale": "pos", "band": true},
              "y": {"scale": "val", "field": "attributes.{y.field}"},
              "y2": {"scale": "val", "value": 0},
              "fill": {"scale": "color", "field": "attributes.{x.field}"}
            }
          }
        }
      ]
    }
  ]
}
}


  var chart = new Cedar({
    "specification":specification,
    "dataset":{
      "data": {"features":[
      	{"attributes": {"FACUSE":"Elementary", "TOTAL_STUD": 400, "CAPITALGAI": "Y"}},
      	{"attributes": {"FACUSE":"Elementary", "TOTAL_STUD": 400, "CAPITALGAI": "N"}},
      	{"attributes": {"FACUSE":"Middle", "TOTAL_STUD": 400, "CAPITALGAI": "Y"}},
      	{"attributes": {"FACUSE":"Middle", "TOTAL_STUD": -400, "CAPITALGAI": "N"}},
      	{"attributes": {"FACUSE":"High", "TOTAL_STUD": 400, "CAPITALGAI": "Y"}},
      	{"attributes": {"FACUSE":"High", "TOTAL_STUD": -400, "CAPITALGAI": "N"}}
      ]},
      "mappings":{
        "x": {"field":"CAPITALGAI","label":"Capital Gains"},
        "y": {"field":"TOTAL_STUD","label":"Students"},
        "category":{"field":"FACUSE","label":"Type"}
      }
    }
  });

  chart.show({
    elementId: "#chart",
    height: 300
  });


</script>