---
title: Grouped Bar Chart
layout: example.hbs
---


<div id="chart"></div>

<pre class="prettyprint">
	var chart = new Cedar({
    "type": "grouped",
    "tooltip": {
    	"title": "{NAME}",
    	"content": "{POP2012} population in 2012"
    },
		datasets: [
        {
          "url": "https://services.arcgis.com/uDTUpUPbk8X8mXwl/arcgis/rest/services/Public_Schools_in_Onondaga_County/FeatureServer/0",
          "query": {
            "where": "City='Jordan'",
            "orderByFields": "Number_of_SUM DESC",
            "groupByFieldsForStatistics": "Type",
            "outStatistics": [{
              "statisticType": "sum",
              "onStatisticField": "Number_of",
              "outStatisticFieldName": "Number_of_SUM"
            }]
          },
          "mappings":{
            "category": "Type",
            "group": true,
            "series": [
              { "field": "Number_of_SUM", "label": "Jordan Students"}
            ]
          }
        },
        {
          "url": "https://services.arcgis.com/uDTUpUPbk8X8mXwl/arcgis/rest/services/Public_Schools_in_Onondaga_County/FeatureServer/0",
              "query": {
                "where": "City='Dewitt'",
                "orderByFields": "Number_of_SUM DESC",
                "groupByFieldsForStatistics": "Type",
                "outStatistics": [{
                  "statisticType": "sum",
                  "onStatisticField": "Number_of",
                  "outStatisticFieldName": "Number_of_SUM"
                }]
              },
          "mappings":{
          "category": "Type",
          "group": true,
          "series": [
            { "field": "Number_of_SUM", "label": "Dewitt Students"}
          ]
          }
        },
        {
          "url": "https://services.arcgis.com/uDTUpUPbk8X8mXwl/arcgis/rest/services/Public_Schools_in_Onondaga_County/FeatureServer/0",
          "query": {
            "where": "City='Fayetteville'",
            "orderByFields": "Number_of_SUM DESC",
            "groupByFieldsForStatistics": "Type",
            "outStatistics": [{
              "statisticType": "sum",
              "onStatisticField": "Number_of",
              "outStatisticFieldName": "Number_of_SUM"
            }]
          },
          "mappings":{
            "category": "Type",
            "group": true,
            "series": [
              { "field": "Number_of_SUM", "label": "Fayetteville Students"}
            ]
          }
        }
      ]
  });

  chart.show({
    elementId: "#chart",
    height: 300
  });
</pre>

<!--
<div id="chart2"></div>

<pre class="prettyprint">
var chart2 = new Cedar({
	"type": "grouped",
	"tooltip": {
		"title": "{STATE_NAME}",
		"content": "{MaleVets2010} Male Vets | {FemaleVets2010} Female Vets"
	},
	"dataset":{
	  "url": "https://maps7.arcgisonline.com/arcgis/rest/services/Veterans_by_Gender/MapServer/1",
	  "mappings":{
	    "x": {"field":["attributes.MaleVets2010", "attributes.FemaleVets2010"],"label":"Veterans by Gender"},
	    "group":{"field":"STATE_NAME","label":"State"}
	  }
	}
});

chart2.show({
	elementId: "#chart2",
	height: 300
});
</pre>
-->
<script>

  var chart = new Cedar({
    "type": "grouped",
    "tooltip": {
    	"title": "{NAME}",
    	"content": "{POP2012} population in 2012"
    },
		datasets: [
        {
          "url": "https://services.arcgis.com/uDTUpUPbk8X8mXwl/arcgis/rest/services/Public_Schools_in_Onondaga_County/FeatureServer/0",
          "query": {
            "where": "City='Jordan'",
            "orderByFields": "Number_of_SUM DESC",
            "groupByFieldsForStatistics": "Type",
            "outStatistics": [{
              "statisticType": "sum",
              "onStatisticField": "Number_of",
              "outStatisticFieldName": "Number_of_SUM"
            }]
          },
          "mappings":{
            "category": "Type",
            "group": true,
            "series": [
              { "field": "Number_of_SUM", "label": "Jordan Students"}
            ]
          }
        },
        {
          "url": "https://services.arcgis.com/uDTUpUPbk8X8mXwl/arcgis/rest/services/Public_Schools_in_Onondaga_County/FeatureServer/0",
              "query": {
                "where": "City='Dewitt'",
                "orderByFields": "Number_of_SUM DESC",
                "groupByFieldsForStatistics": "Type",
                "outStatistics": [{
                  "statisticType": "sum",
                  "onStatisticField": "Number_of",
                  "outStatisticFieldName": "Number_of_SUM"
                }]
              },
          "mappings":{
          "category": "Type",
          "group": true,
          "series": [
            { "field": "Number_of_SUM", "label": "Dewitt Students"}
          ]
          }
        },
        {
          "url": "https://services.arcgis.com/uDTUpUPbk8X8mXwl/arcgis/rest/services/Public_Schools_in_Onondaga_County/FeatureServer/0",
          "query": {
            "where": "City='Fayetteville'",
            "orderByFields": "Number_of_SUM DESC",
            "groupByFieldsForStatistics": "Type",
            "outStatistics": [{
              "statisticType": "sum",
              "onStatisticField": "Number_of",
              "outStatisticFieldName": "Number_of_SUM"
            }]
          },
          "mappings":{
            "category": "Type",
            "group": true,
            "series": [
              { "field": "Number_of_SUM", "label": "Fayetteville Students"}
            ]
          }
        }
      ]
  });

  chart.show({
    elementId: "#chart",
    height: 300
  });


  // var chart2 = new Cedar({
  //   "type": "grouped",
  //   "tooltip": {
  //   	"title": "{STATE_NAME}",
  //   	"content": "{MaleVets2010} Male Vets | {FemaleVets2010} Female Vets"
  //   },
  //   "dataset":{
	//   "url": "https://maps7.arcgisonline.com/arcgis/rest/services/Veterans_by_Gender/MapServer/1",
  //     "mappings":{
  //       "x": {"field":["attributes.MaleVets2010", "attributes.FemaleVets2010"],"label":"Veterans by Gender"},
  //       "group":{"field":"STATE_NAME","label":"State"}
  //     }
  //   }
  // });
	//
  // chart2.show({
  //   elementId: "#chart2",
  //   height: 300
  // });


</script>
