---
layout: example.hbs
---


<h1>Horizontal Bar Chart</h1>

<div id="chart"></div>


{{#markdown}}
```js
  //create a cedar chart
  var chart = new Cedar({"type": "bar-horizontal"});

  //create the dataset w/ mappings
  var dataset = {
    "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
    "query": {
      "groupByFieldsForStatistics": "ZIP_CODE",
      "outStatistics": [{
        "statisticType": "sum", 
        "onStatisticField": "TOTAL_STUD", 
        "outStatisticFieldName": "TOTAL_STUD_SUM"
      }]
    },
    "mappings":{
      "x": {"field":"ZIP_CODE","label":"ZIP Code"},
      "y": {"field":"TOTAL_STUD","label":"Total Students"}
    }
  };

  //assign to the chart
  chart.dataset = dataset;

  // fix placement of axes labels
  chart.override = {
    "axes": [
      { 
        "titleOffset": 25,
        "title": "Total Number of Students" 
      },
      { 
        "titleOffset": 50 
      }
    ]
  };

  //show the chart
  chart.show({
    elementId: "#chart"
  });
```
{{/markdown}}


<script>
  //create a cedar chart
  var chart = new Cedar({"type": "bar-horizontal"});

  //create the dataset w/ mappings
  var dataset = {
    "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
    "query": {
      "groupByFieldsForStatistics": "ZIP_CODE",
      "outStatistics": [{
        "statisticType": "sum", 
        "onStatisticField": "TOTAL_STUD", 
        "outStatisticFieldName": "TOTAL_STUD_SUM"
      }]
    },
    "mappings":{
      "y": {"field":"ZIP_CODE","label":"ZIP Code"},
      "x": {"field":"TOTAL_STUD_SUM","label":"Total Students"}
    }
  };

  //assign to the chart
  chart.dataset = dataset;

  // fix placement of axes labels
  chart.override = {
    "axes": [
      { 
        "titleOffset": 25,
        "title": "Total Number of Students" 
      },
      { 
        "titleOffset": 50 
      }
    ]
  };

  chart.tooltip = {
    "id": "cedar-tooltip",
    "title": "{ZIP_CODE}",
    "content": "{TOTAL_STUD_SUM} students in the {ZIP_CODE} zipcode."
  };
  
  //show the chart
  chart.show({
    elementId: "#chart"
  });



</script>