---
title: Esri Cedar Quickstart
description: A quick template to get started with Esri Cedar.
layout: example.hbs
---

<div id="chart"></div>
  
<script type="text/javascript">
  Cedar.chart({el: "#chart", style: "bar", data: "/schools_use_count.json", count: "POPULATION_ENROLLED_2008", group: "FACUSE"})
</script>
