---
title: Cedar Quickstart
description: A quick template to get started with Esri Cedar.
layout: example.hbs
---

<h2>{{page.title}}</h2>

<div id="chart"></div>


{{#markdown}}
```html
{{>example-code-header}}
  var cedar = new Cedar();
  cedar.show({
    elementId: "#chart",
    spec: "{{assets}}data/charts/simple-scatter-chart.json"
  });
{{>example-code-footer}}
```
{{/markdown}}



<script>

  var cedar = new Cedar();
  cedar.show({
    elementId: "#chart",
    spec: "{{assets}}data/charts/simple-scatter-chart.json"
  });

</script>
