---
title: Cedar Quickstart
description: A quick template to get started with Esri Cedar.
layout: example.hbs
---

<h2>{{page.title}}</h2>

<div id="chart"></div>


{{#markdown}}
```html
{{>example-code-header}}
  var chart = new Cedar({
    "definition":"{{assets}}data/definitions/dc-schools-scatter-chart.json"
  });

  chart.show({
    elementId: "#chart",
  });
{{>example-code-footer}}
```
{{/markdown}}



<script>
  //Create a cedar chart, passing in a url to a defintion
  //a defintion allows a chart to be visualized AND manipulated
  var chart = new Cedar({
    "definition":"{{assets}}data/definitions/dc-schools-scatter-chart.json"
  });

  chart.show({
    elementId: "#chart",
  });

</script>
