---
title: Chart data from Inline Array
layout: example.hbs
---

<div id="chart"></div>


{{#markdown}}
```js
  var chart = new Cedar({"type":"bar"});

  var data = Cedar.getJson('{{assets}}data/feature-collection-data.json', function(err, data){
    if(!err){

      var dataset = {
        "data": data,
        "mappings":{
          "x": {"field":"ZIP_CODE","label":"ZIP Code"},
          "y": {"field":"TOTAL_STUD_SUM","label":"Total Students"}
        }
      };
      //assign to the chart
      chart.dataset = dataset;

      //show the chart
      chart.show({
        elementId: "#chart"
      });

    }else{
      console.error('Error loading data from file');
    }
  });
```
### Expected Format
```
{
  ...other properties...
  features:[
    {
      "attributes": {
        "ZIP_CODE": 20005,
        "TOTAL_STUD_SUM": 327
      }
    },
    {
      "attributes": {
        "ZIP_CODE": 20024,
        "TOTAL_STUD_SUM": 517
      }
    },
  ]
  ...other properties...
}
```
{{/markdown}}

<script>
  var chart = new Cedar({"type":"bar"});

  var data = Cedar.getJson('{{assets}}data/feature-collection-data.json', function(err, data){
    if(!err){

      var dataset = {
        "data": data,
        "mappings":{
          "x": {"field":"ZIP_CODE","label":"ZIP Code"},
          "y": {"field":"TOTAL_STUD_SUM","label":"Total Students"}
        }
      };
      //assign to the chart
      chart.dataset = dataset;

      //show the chart
      chart.show({
        elementId: "#chart"
      });

    }else{
      console.error('Error loading data from file');
    }
  });
</script>