---
layout: example.hbs
---

<style type="text/css">
  .chart {
     width: 400px; 
     height: 400px;
  }
</style>

<h1>Multiple Charts</h1>

<span id="chart1" class="chart"></span>
<span id="chart2" class="chart"></span>

{{#markdown}}
```js

  var dataset = {
    "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
    "query": {
      "groupByFieldsForStatistics": "CAPITALGAINS",
      "outStatistics": [{
        "statisticType": "sum", 
        "onStatisticField": "CAPACITY", 
        "outStatisticFieldName": "CAPACITY_SUM"
      }]
    },
    "mappings":{
      "x": {"field":"CAPITALGAINS","label":"Capital Gains"},
      "y": {"field":"CAPACITY_SUM","label":"Student Capacity"},
      "label": {"field":"CAPITALGAINS","label":"Capital Gains"}
    }
  };

  var chart1 = new Cedar({"type":"bar", "dataset": dataset});

  chart1.show({
    elementId: "#chart1",
  });  

  dataset.mappings.radius = 180;

  var chart2 = new Cedar({"type":"pie", "dataset": dataset});

  chart2.show({
    elementId: "#chart2",
    width: 400,
    height: 400
  });    


```
{{/markdown}}


<script>

  var dataset = {
    "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
    "query": {
      "groupByFieldsForStatistics": "CAPITALGAINS",
      "outStatistics": [{
        "statisticType": "sum", 
        "onStatisticField": "CAPACITY", 
        "outStatisticFieldName": "CAPACITY_SUM"
      }]
    },
    "mappings":{
      "x": {"field":"CAPITALGAINS","label":"Capital Gains"},
      "y": {"field":"CAPACITY_SUM","label":"Student Capacity"},
      "label": {"field":"CAPITALGAINS","label":"Capital Gains"}
    }
  };

  var chart1 = new Cedar({"type":"bar", "dataset": dataset});

  chart1.show({
    elementId: "#chart1",
    autolabels: true,
  });  

  dataset.mappings.radius = 180;

  var chart2 = new Cedar({"type":"pie", "dataset": dataset});

  chart2.show({
    elementId: "#chart2",
    width: 400,
    height: 400
  });    

</script>