---
layout: example.hbs
---


<h1>Multiple Charts</h1>

<div id="chart1"></div>
<div id="chart2"></div>


{{#markdown}}
```html
{{>example-code-header}}
 var dataset = {
    "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
    "mappings":{
      "group": {"field":"CAPITALGAINS","label":"Capital Gains"},
      "count": {"field":"CAPACITY","label":"Student Capacity"}
    }
  };

  var chart1 = new Cedar({"specification":"{{assets}}data/templates/bar.json", "dataset": dataset});

  chart1.show({
    elementId: "#chart1",
  });  

  dataset.mappings.radius = 180;
  var chart2 = new Cedar({"specification":"{{assets}}data/templates/pie.json", "dataset": dataset});

  chart2.show({
    elementId: "#chart2",
    width: 400,
    height: 400
  });    
{{>example-code-footer}}
```
{{/markdown}}


<script>

  var dataset = {
    "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
    "mappings":{
      "group": {"field":"CAPITALGAINS","label":"Capital Gains"},
      "count": {"field":"CAPACITY","label":"Student Capacity"}
    }
  };

  var chart1 = new Cedar({"specification":"{{assets}}data/templates/bar.json", "dataset": dataset});

  chart1.show({
    elementId: "#chart1",
  });  

  dataset.mappings.radius = 180;
  var chart2 = new Cedar({"specification":"{{assets}}data/templates/pie.json", "dataset": dataset});

  chart2.show({
    elementId: "#chart2",
    width: 400,
    height: 400
  });    

</script>