---
title: Example - Responsive Charts
layout: example.hbs
---

<div id="chart"></div>
{{#markdown}}
```javascript
  function drawChart() {
    var chart = new Cedar({"type":"bar"});

    //create the dataset w/ mappings
    var dataset = {
      "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
      "query": {
        "groupByFieldsForStatistics": "ZIP_CODE",
        "outStatistics": [{
          "statisticType": "sum", 
          "onStatisticField": "TOTAL_STUD", 
          "outStatisticFieldName": "TOTAL_STUD_SUM"
        }]
      },
      "mappings":{
        "x": {"field":"ZIP_CODE","label":"ZIP Code"},
        "y": {"field":"TOTAL_STUD_SUM","label":"Total Students"}
      }
    };

    //assign to the chart
    chart.dataset = dataset;

    //show the chart
    chart.show({
      elementId: "#chart"
    });

    window.chart = chart;
  };


  drawChart();

  window.onresize = updateChart;

  function updateChart() {
    var el = document.getElementById("chart");
    var width = el.offsetWidth;

    var labels;
    if(width <= 200) {
      labels = {
        "fontSize": {"value": 0},
      }
    } else if (200 < width && width <= 600) {
      labels = {
        "angle": {"value": 50},
        "align": {"value": "left"},
        "baseline": {"value": "middle"}
      }
    } else {
      labels = {
        "angle": {"value": 0},
        "align": {"value": "center"},
        "baseline": {"value": "middle"}
      }
    }

    chart.override = {
      "axes": [{"properties": {
        "labels": labels
      }}]
    }

    chart.update();
  }
```
{{/markdown}}
<script>
  function drawChart() {
    var chart = new Cedar({"type":"bar"});

    //create the dataset w/ mappings
    var dataset = {
      "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
      "query": {
        "groupByFieldsForStatistics": "ZIP_CODE",
        "outStatistics": [{
          "statisticType": "sum", 
          "onStatisticField": "TOTAL_STUD", 
          "outStatisticFieldName": "TOTAL_STUD_SUM"
        }]
      },
      "mappings":{
        "x": {"field":"ZIP_CODE","label":"ZIP Code"},
        "y": {"field":"TOTAL_STUD_SUM","label":"Total Students"}
      }
    };

    //assign to the chart
    chart.dataset = dataset;

    //show the chart
    chart.show({
      elementId: "#chart"
    });

    window.chart = chart;
  };


  drawChart();

  window.onresize = updateChart;

  function updateChart() {
    var el = document.getElementById("chart");
    var width = el.offsetWidth;

    var labels;
    if(width <= 200) {
      labels = {
        "fontSize": {"value": 0},
      }
    } else if (200 < width && width <= 600) {
      labels = {
        "angle": {"value": 50},
        "align": {"value": "left"},
        "baseline": {"value": "middle"}
      }
    } else {
      labels = {
        "angle": {"value": 0},
        "align": {"value": "center"},
        "baseline": {"value": "middle"}
      }
    }

    chart.override = {
      "axes": [{"properties": {
        "labels": labels
      }}]
    }

    chart.update();
  }
</script>