---
layout: example.hbs
---


<h1>Simple Scatter Plot</h1>
  
<div id="chart"></div>


{{#markdown}}
```html
{{>example-code-header}}
  var chart = new Cedar({
    "definition":"{{assets}}data/definitions/dc-schools-scatter-chart.json"
  });

  chart.show({
    elementId: "#chart",
  });

 
{{>example-code-footer}}
```
{{/markdown}}



<script>
  var chart = new Cedar({
    "definition":"{{assets}}data/definitions/dc-schools-scatter-chart.json"
  });

  chart.show({
    elementId: "#chart",
  });


</script>