---
layout: example.hbs
---


<h1>Simple Scatter Plot</h1>
  
<div id="chart"></div>


{{#markdown}}
```js
  var chart = new Cedar({
    "type":"scatter",
    "dataset":{
      "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
      "query":{},
      "mappings":{
        "x": {"field":"POPULATION_ENROLLED_2008","label":"Enrolment 2008"},
        "y": {"field":"SQUARE_FOOTAGE","label":"Square Footage"},
        "color":{"field":"FACUSE","label":"Facility Type"}
      }
    }
  });

  chart.show({
    elementId: "#chart",
    width: 800,
    height: 400
  });
```
{{/markdown}}



<script>
  var chart = new Cedar({
    "type":"scatter",
    "dataset":{
      "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
      "query":{},
      "mappings":{
        "x": {"field":"POPULATION_ENROLLED_2008","label":"Enrolment 2008"},
        "y": {"field":"SQUARE_FOOTAGE","label":"Square Footage"},
        "color":{"field":"FACUSE","label":"Facility Type"}
      }
    }
  });

  chart.show({
    elementId: "#chart",
    width: 800,
    height: 400
  });
</script>