---
layout: example.hbs
---

<div class="row">
<div class="col-lg-8" >
  <h3>School size by Students</h3>
  <small>Click on chart</small>
  <div id="chart"></div>
</div>
<div class="col-lg-4" >
  <h3>School Details</h3>
  <div id="details" style="height: 100px"></div>

  <h3>History</h3>
  <div id="history"></div>
</div>
</div>


{{#markdown}}
```html

{{>example-code-header}}
<<<<<<< HEAD
  var selectedItems = {};

  function compileTemplate(data) {
=======
  //define a handler for chart events 
  function showItem(event,data){
>>>>>>> Changed Event handlers to include event object for tooltip placement
    var tmpl = document.getElementById("school-detail-template").innerHTML;
    //this uses underscore's templating library, but it could use anything
    return _.template(tmpl)(data); 
  }

  function showItem(data){
    document.getElementById('details').innerHTML = compileTemplate(data);
  }

  function hideItem(data){
    document.getElementById('details').innerHTML = "";
  }
  
  function toggleItem(data){
    if(selectedItems[data.NAME] === undefined || selectedItems[data.NAME] === null) {
      selectedItems[data.NAME] = data;
    } else {
      selectedItems[data.NAME] = null;
    }

    document.getElementById('history').innerHTML = "";
    for(var propertyName in selectedItems) { 
      if(selectedItems[propertyName] !== null) {
        chart.select({key: "NAME", value: propertyName});
        document.getElementById('history').innerHTML += compileTemplate(selectedItems[propertyName]);
      }
    }
  }

  var chart = new Cedar({
    "specification":"{{assets}}data/templates/scatter.json",
    "dataset":{
      "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
      "query":{},
      "mappings":{
        "x": {"field":"POPULATION_ENROLLED_2008","label":"Enrolment 2008"},
        "y": {"field":"SQUARE_FOOTAGE","label":"Square Footage"},
        "color":{"field":"FACUSE","label":"Facility Type"}
      }
    }
  });

  //render the chart
  chart.show({
    elementId: "#chart"
  });

  //attach handler (can also be done before .show())
  chart.on('mouseover', showItem);
  chart.on('mouseout', hideItem);
  chart.on('click', toggleItem);
{{>example-code-footer}}
```
{{/markdown}}

<script type="tmpl" id="school-detail-template">

  <ul>
    <li>Name: <%=NAME%></li>
    <li>Type: <%=FACUSE%></li>
    <li>Address: <%=ADDRESS%></li>
    <li>Phone: <%=PHONE%></li>
  </ul>

</script>

<script>
<<<<<<< HEAD
  var selectedItems = {};

  function compileTemplate(data) {
=======
  //define a handler for chart events 
  function showItem(event,data){
>>>>>>> Changed Event handlers to include event object for tooltip placement
    var tmpl = document.getElementById("school-detail-template").innerHTML;
    //this uses underscore's templating library, but it could use anything
    return _.template(tmpl)(data); 
  }

  function showItem(data){
    document.getElementById('details').innerHTML = compileTemplate(data);
  }

  function hideItem(data){
    document.getElementById('details').innerHTML = "";
  }
  
  function toggleItem(data){
    if(selectedItems[data.NAME] === undefined || selectedItems[data.NAME] === null) {
      selectedItems[data.NAME] = data;
    } else {
      selectedItems[data.NAME] = null;
    }

    document.getElementById('history').innerHTML = "";
    for(var propertyName in selectedItems) { 
      if(selectedItems[propertyName] !== null) {
        chart.select({key: "NAME", value: propertyName});
        document.getElementById('history').innerHTML += compileTemplate(selectedItems[propertyName]);
      }
    }
  }

  var chart = new Cedar({
    "specification":"{{assets}}data/templates/scatter.json",
    "dataset":{
      "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
      "query":{},
      "mappings":{
        "x": {"field":"POPULATION_ENROLLED_2008","label":"Enrolment 2008"},
        "y": {"field":"SQUARE_FOOTAGE","label":"Square Footage"},
        "color":{"field":"FACUSE","label":"Facility Type"}
      }
    }
  });

  chart.override = {
    "width": 400,
    "legends": [{"properties":{"labels": {"fontSize": {"value": 8} }}}]
  }

  //render the chart
  chart.show({
    elementId: "#chart"
  });

  //attach handler (can also be done before .show())
  chart.on('mouseover', showItem);
  chart.on('mouseout', hideItem);
  chart.on('click', toggleItem);


</script>