---
title: Scatterplot
layout: example.hbs
---

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <style>
    #resizable { width: 750px; height: 550px; padding: 0.5em; }
  </style>
<h1>Simple Scatter Plot</h1>
  
<div id="resizable" class="ui-widget-content">
  <div id="chart" style="height: 100%"></div>
</div>  


{{#markdown}}
```js
  var chart = new Cedar({
    "type":"scatter",
    "dataset":{
      "url":"https://services.arcgis.com/uDTUpUPbk8X8mXwl/arcgis/rest/services/Public_Schools_in_Onondaga_County/FeatureServer/0",
      "query":{},
      "mappings":{
        "x": {"field":"Number_of","label":"Enrolment 2008"},
        "y": {"field":"F_of_teach","label":"Fraction of Teachers"},
        "color":{"field":"Type","label":"Facility Type"}
      }
    }
  });

  chart.show({
    elementId: "#chart",
    width: 800,
    height: 400
  });
```
{{/markdown}}



<script>
  var chart = new Cedar({
    "type":"scatter",
    "dataset":{
      "url":"https://services.arcgis.com/uDTUpUPbk8X8mXwl/arcgis/rest/services/Public_Schools_in_Onondaga_County/FeatureServer/0",
      "query":{},
      "mappings":{
        "x": {"field":"Number_of","label":"Student Enrollment (2008)"},
        "y": {"field":"F_of_teach","label":"Fraction of Teachers"},
        "color":{"field":"Type","label":"Facility Type"}
      }
    }
  });

  chart.tooltip = {
    "title": "{NAME}",
    "content": "{Number_of} students with a {Number_of} student Number_of."
  }

  chart.show({
    elementId: "#chart",
    autolabels: true
  });
  $(function() {
    $( "#resizable" ).resizable({
      resize: function() { chart.update(); }
    });
  });
</script>