---
layout: example.hbs
---

<div class="row">
<div class="col-lg-8" >
  <h3>School size by Students</h3>
  <div id="chart"></div>
</div>
<div class="col-lg-4" >
  <h3>School Details <small>Click on chart</small></h3>
  <div id="details"></div>
</div>
</div>


{{#markdown}}
```html

{{>example-code-header}}
 function showItem(data){
    var tmpl = document.getElementById("school-detail-template").innerHTML;
    compiled = _.template(tmpl);
    document.getElementById('details').innerHTML = compiled(data);
  }
  
  var chart = new Cedar();
  //attach handlers before the view exists
  chart.on('mouseover', showItem);
  //show the chart
  chart.show({
    elementId: "#chart",
    spec: "{{assets}}data/charts/evt-scatter-chart.json"
  });
  //add more handlers after starting chart creation
  chart.on('mouseout', showItem);
  chart.on('click', showItem);
 
{{>example-code-footer}}
```
{{/markdown}}

<script type="tmpl" id="school-detail-template">

  <ul>
    <li>Name: <%=NAME%></li>
    <li>Type: <%=FACUSE%></li>
    <li>Address: <%=ADDRESS%></li>
    <li>Phone: <%=PHONE%></li>
  </ul>

</script>

<script>
  //render
  function showItem(data){
    var tmpl = document.getElementById("school-detail-template").innerHTML;
    compiled = _.template(tmpl);
    document.getElementById('details').innerHTML = compiled(data);
  }
  function report(data){
    console.log('caught event ' + data);
  }

  var chart = new Cedar({
    "definition":"{{assets}}data/definitions/scatter-events.json"
  });
  //attach handlers before the view exists
  chart.on('mouseover', report);
  
  chart.show({
    elementId: "#chart"
  });
  //and after
  chart.on('mouseout', report);
  chart.on('click', showItem);


</script>