---
layout: example.hbs
---

<div class="row">
<div class="col-lg-8" >
  <h3>School size by Students</h3>
  <div id="chart"></div>
</div>
<div class="col-lg-4" >
  <h3>School Details <small>Click on chart</small></h3>
  <div id="details"></div>
</div>
</div>


{{#markdown}}
```html

{{>example-code-header}}
  //define a handler for chart events 
  function showItem(data){
    var tmpl = document.getElementById("school-detail-template").innerHTML;
    //this uses underscore's templating library, but it could use anything
    compiled = _.template(tmpl);
    document.getElementById('details').innerHTML = compiled(data);
  }

  //setup a chart using a json file that is the complete definition
  var chart = new Cedar({
    "definition":"{{assets}}data/definitions/scatter-events.json"
  });

  //render the chart
  chart.show({
    elementId: "#chart"
  });

  //attach handler (can also be done before .show())
  chart.on('click', showItem);
 
{{>example-code-footer}}
```
{{/markdown}}

<script type="tmpl" id="school-detail-template">

  <ul>
    <li>Name: <%=NAME%></li>
    <li>Type: <%=FACUSE%></li>
    <li>Address: <%=ADDRESS%></li>
    <li>Phone: <%=PHONE%></li>
  </ul>

</script>

<script>
  //define a handler for chart events 
  function showItem(data){
    var tmpl = document.getElementById("school-detail-template").innerHTML;
    //this uses underscore's templating library, but it could use anything
    compiled = _.template(tmpl);
    document.getElementById('details').innerHTML = compiled(data);
  }

  //setup a chart using a json file that is the complete definition
  var chart = new Cedar({
    "definition":"{{assets}}data/definitions/scatter-events.json"
  });

  //render the chart
  chart.show({
    elementId: "#chart"
  });

  //attach handler (can also be done before .show())
  chart.on('click', showItem);


</script>