---
layout: example.hbs
---


<h1>Simple Scatter Plot</h1>
  
<div id="chart"></div>


{{#markdown}}
```html
{{>example-code-header}}
  var cedar = new Cedar();
  cedar.show({
    elementId: "#chart",
    spec: "{{assets}}data/charts/simple-scatter-chart.json"
  });
 
{{>example-code-footer}}
```
{{/markdown}}



<script>
  var cedar = new Cedar();
  cedar.show({
    elementId: "#chart",
    spec: "{{assets}}data/charts/simple-scatter-chart.json"
  });

</script>