---
layout: example.hbs
---


<h1>Simple Scatter Plot</h1>
  
<div id="chart"></div>


{{#markdown}}
```html
{{>example-code-header}}
  //render
  Cedar.show({
    elementId: "#chart",
    spec: "/data/charts/scatter-chart.json"
  });
 
{{>example-code-footer}}
```
{{/markdown}}



<script>

  //render
  Cedar.show({
    elementId: "#chart",
    spec: "{{assets}}data/charts/simple-scatter-chart.json"
  });

</script>