---
layout: example.hbs
---


<h1>Simple Bar Chart</h1>

<div id="chart"></div>



{{#markdown}}
```html
{{>example-code-header}}
  
  var cedar = new Cedar();
  cedar.show({
    elementId: "#chart",
    spec: "{{assets}}data/charts/simple-bar-chart.json"
  });
 
{{>example-code-footer}}
```
{{/markdown}}


<script>
  //render
  var cedar = new Cedar();
  cedar.show({
    elementId: "#chart",
    spec: "{{assets}}data/charts/simple-bar-chart.json"
  });
</script>