---
layout: example.hbs
---


<h1>Simple Pie Chart</h1>

<div id="chart"></div>



{{#markdown}}
```html
  var chart = new Cedar({"specification":"{{assets}}data/templates/pie.json"});
  //create the dataset w/ mappings
  var dataset = {
    "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
    "mappings":{
      "group": {"field":"CAPITALGAINS","label":"Capital Gains"},
      "count": {"field":"CAPACITY","label":"Student Capacity"}
    }
  };
  chart.dataset = dataset;
  chart.show({
    elementId: "#chart",
  }); 
```
{{/markdown}}


<script>
  
  var chart = new Cedar({"specification":"{{assets}}data/templates/pie.json"});

  var dataset = {
    "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
    "mappings":{
      "group": {"field":"ZIP_CODE","label":"ZIP Code"},
      "count": {"field":"TOTAL_STUD","label":"Total Students"},
      "radius": 270
    }
  };
  chart.dataset = dataset;

  chart.show({
    elementId: "#chart",
    width: 600,
    height: 600
  });  

</script>