---
title: Pie Chart
layout: example.hbs
---

<div id="chart"></div>



{{#markdown}}
```js
  var chart = new Cedar({"type":"pie"});

  var dataset = {
    "url":"https://services.arcgis.com/uDTUpUPbk8X8mXwl/arcgis/rest/services/Public_Schools_in_Onondaga_County/FeatureServer/0",
    "query": {
      "groupByFieldsForStatistics": "Zip",
      "outStatistics": [{
        "statisticType": "sum", 
        "onStatisticField": "Number_of", 
        "outStatisticFieldName": "Number_of_SUM"
      }]
    },    
    "mappings":{
      "label": {"field":"Zip","label":"ZIP Code"},
      "y": {"field":"Number_of_SUM","label":"Total Students"},
      "radius": 270
    }
  };
  chart.dataset = dataset;

  chart.show({
    elementId: "#chart",
    width: 600,
    height: 600
  });  
```
{{/markdown}}


<script>
  
  var chart = new Cedar({"type":"pie"});

  var dataset = {
    "url":"https://services.arcgis.com/uDTUpUPbk8X8mXwl/arcgis/rest/services/Public_Schools_in_Onondaga_County/FeatureServer/0",
    "query": {
      "orderByFields": "Number_of_SUM DESC",
      "groupByFieldsForStatistics": "Zip",
      "outStatistics": [{
        "statisticType": "sum", 
        "onStatisticField": "Number_of", 
        "outStatisticFieldName": "Number_of_SUM"
      }]
    },    
    "mappings":{
      "label": {"field":"Zip","label":"ZIP Code"},
      "y": {"field":"Number_of_SUM","label":"Total Students"},
      "radius": 270
    }
  };
  chart.dataset = dataset;

  chart.tooltip = {
    "title": "{Zip} postcode",
    "content": "{Number_of_SUM} students"
  }
  chart.show({
    elementId: "#chart",
    width: 600,
    height: 600
  });  

</script>