---
layout: example.hbs
---


<h1>Simple Pie Chart</h1>

<div id="chart"></div>



{{#markdown}}
```html
{{>example-code-header}}
  //render
  Cedar.render({
    elementId: "#chart",
    spec: "/data/charts/simple-pie-chart.json"
  });
 
{{>example-code-footer}}
```
{{/markdown}}


<script>
  //render
  Cedar.render({
    elementId: "#chart",
    spec: "{{assets}}data/charts/simple-pie-chart.json"
  });
</script>