---
layout: example.hbs
---


<h1>Simple Pie Chart</h1>

<div id="chart"></div>



{{#markdown}}
```js
  var chart = new Cedar({"type":"pie"});

  var dataset = {
    "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
    "query": {
      "groupByFieldsForStatistics": "ZIP_CODE",
      "outStatistics": [{
        "statisticType": "sum", 
        "onStatisticField": "TOTAL_STUD", 
        "outStatisticFieldName": "TOTAL_STUD_SUM"
      }]
    },    
    "mappings":{
      "label": {"field":"ZIP_CODE","label":"ZIP Code"},
      "y": {"field":"TOTAL_STUD_SUM","label":"Total Students"},
      "radius": 270
    }
  };
  chart.dataset = dataset;

  chart.show({
    elementId: "#chart",
    width: 600,
    height: 600
  });  
```
{{/markdown}}


<script>
  
  var chart = new Cedar({"type":"pie"});

  var dataset = {
    "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
    "query": {
      "orderByFields": "TOTAL_STUD_SUM DESC",
      "groupByFieldsForStatistics": "ZIP_CODE",
      "outStatistics": [{
        "statisticType": "sum", 
        "onStatisticField": "TOTAL_STUD", 
        "outStatisticFieldName": "TOTAL_STUD_SUM"
      }]
    },    
    "mappings":{
      "label": {"field":"ZIP_CODE","label":"ZIP Code"},
      "y": {"field":"TOTAL_STUD_SUM","label":"Total Students"},
      "radius": 270
    }
  };
  chart.dataset = dataset;

  chart.tooltip = {
    "title": "{ZIP_CODE} postcode",
    "content": "{TOTAL_STUD_SUM} students"
  }
  chart.show({
    elementId: "#chart",
    width: 600,
    height: 600
  });  

</script>