---
title: Sparkline
layout: example.hbs
---

<style type="text/css">
	.cedar-spark .vega { display: inline; padding: 0; margin: 0;}
	#pop-dc .mark-line path { stroke: rgb(0,200,0) !important ;}
</style>

<h2>Example</h2>

<p style="border: 1px solid #888; padding: 30px; margin: 20px">The population of DC <span id="pop-dc" class="cedar-spark"></span> has increased over the years, while Baltimore <span id="pop-bm" class="cedar-spark"></span> has been declining.</p>

<h2>Code</h2>
<pre class="prettyprint">
&lt;p&gt;The population of DC &lt;span id=&quot;pop-dc&quot; class=&quot;cedar-spark&quot;&gt;&lt;/span&gt; has increased over the years, while Baltimore &lt;span id=&quot;pop-bm&quot; class=&quot;cedar-spark&quot;&gt;&lt;/span&gt; has been declining.&lt;/p&gt;

&lt;style&gt;
#pop-dc .mark-line path { stroke: rgb(0,200,0) !important ;}
&lt;/style&gt;

&lt;script type="text/javascript"&gt;

  var data = [
    {"attributes": {"date": "2000", "dc": 572046, "baltimore": 648654}},
    {"attributes": {"date": "2010", "dc": 601767, "baltimore": 621317}},
    {"attributes": {"date": "2013", "dc": 649111, "baltimore": 623404}},
    {"attributes": {"date": "2014", "dc": 658893, "baltimore": 622793}}
	];

  var chartdc = new Cedar({
  	"type": "sparkline",
    "datasets": [
      {
        "data": data,
        "mappings":{
          "category": {"field":"date","label":"Date"},
          "series": [
            {"field":"dc","label":"dc"}
          ]
        }
      }
    ]
  });
  chartdc.show({elementId: "#pop-dc", autolabels: false, height: 10, width: 20, renderer: "svg" });

  var chartbm = new Cedar({
  	"type": "sparkline",
    "datasets": [
      {
        "data": data,
        "mappings":{
          "category": {"field":"date","label":"Date"},
          "series": [
            {"field":"baltimore","label":"baltimore"}
          ]
        }
      }
    ]
  });
  chartbm.show({elementId: "#pop-bm", autolabels: false, height: 10, width: 20, renderer: "svg" });
&lt;/script&gt;
</pre>

<script>

  var data = [
    {"attributes": {"date": "2000", "dc": 572046, "baltimore": 648654}},
    {"attributes": {"date": "2010", "dc": 601767, "baltimore": 621317}},
    {"attributes": {"date": "2013", "dc": 649111, "baltimore": 623404}},
    {"attributes": {"date": "2014", "dc": 658893, "baltimore": 622793}}
	];

  var chartdc = new Cedar({
  	"type": "sparkline",
    "datasets": [
      {
        "data": data,
        "mappings":{
          "category": {"field":"date","label":"Date"},
          "series": [
            {"field":"dc","label":"dc"}
          ]
        }
      }
    ]
  });
  chartdc.show({elementId: "#pop-dc", autolabels: false, height: 10, width: 20, renderer: "svg" });

  var chartbm = new Cedar({
  	"type": "sparkline",
    "datasets": [
      {
        "data": data,
        "mappings":{
          "category": {"field":"date","label":"Date"},
          "series": [
            {"field":"baltimore","label":"baltimore"}
          ]
        }
      }
    ]
  });
  chartbm.show({elementId: "#pop-bm", autolabels: false, height: 10, width: 20, renderer: "svg" });


</script>
