---
title: Example - Specification from URL
layout: example.hbs
---


<h1>Specification from URL</h1>

<p>This chart uses a specification that is not one of the standard type (bar, scatter, bubble, pie, etc.) by passing in the URL to a specification JSON file via the `specification` parameter.</p>

<div id="chart"></div>

{{#markdown}}
```js
{{>example-time-dots}}

```
{{/markdown}}

<script>
{{>example-time-dots}}
</script>