---
title: Example - Inlined Chart Specification
layout: example.hbs
---


<h1></h1>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <style>
    #examples { height: 1800px; }
    #resizable { width: 750px; height: 550px; padding: 0.5em; }
    #resizable h3 { text-align: center; margin: 0; }
  </style>

  <div id="resizable" class="ui-widget-content">
    <div id="chart" style="height: 100%"></div>
    </div>


<script>

  //create the specification
  var spec ={
  "inputs":[
    {"name":"time","type":["time"], "required":true},
    {"name":"value","type":["numeric"], "required":true}
  ],
  "template":{
    "padding": "strict",
    "data": [
      {
        "name": "table",
        "url":"{data}&orderByFields={time.field}",
        "format": {"type": "json", "property": "features", "parse": {"attributes.{time.field}":"date"}}
      },
      {
        "name": "exports",
        "source": "table",
        "transform": [
          {"type": "formula", "field": "export", "expr": "datum"}
        ]
      }
    ],
    "scales": [
      {
        "name": "x",
        "type": "time",
        "range": "width",
        "nice": "month",
        "zero": false,
        "domain": {"data": "table", "field": "attributes.{time.field}"}
      },
      {
        "name": "y",
        "type": "linear",
        "range": "height",
        "nice": true,
        "domain": {"data": "table", "field": "attributes.{value.field}"}
      }
    ],
    "axes": [
      {
        "type": "x",
        "scale": "x",
        "title": "{time.label}",
        "properties": {
          "title": {
            "fontSize": {"value": 15},
            "fill": {"value": "#999"},
            "fontWeight": {"value": "normal"}
          },
          "ticks": {
             "stroke": {"value": "#dbdad9"}
          },
          "labels": {
            "fill": {"value": "#999"},
            "fontSize": {"value": 13}
          },
          "axis": {
             "stroke": {"value": "#dbdad9"},
             "strokeWidth": {"value": 1}
          }
        }
      },
      {
        "type": "y",
        "scale": "y",
        "title": "{value.label}",
        "ticks": 2,
        "properties": {
          "title": {
            "fontSize": {"value": 15},
            "fill": {"value": "#999"},
            "fontWeight": {"value": "normal"}
          },
          "ticks": {
             "stroke": {"value": "#dbdad9"}
          },
          "labels": {
            "fill": {"value": "#999"},
            "fontSize": {"value": 13}
          },
          "axis": {
             "stroke": {"value": "#dbdad9"}
          }
        }
      }
    ],
    "marks": [
      {
        "type": "symbol",
        "from": {"data": "table"},
        "properties": {
          "enter": {
            "x": {"scale": "x", "field": "attributes.{time.field}"},
            "y": {"scale": "y", "field": "attributes.{value.field}"},
            "stroke": {"value": "#0079c1"},
            "fill": {"value": "#0079c1"},
            "size": {"value": 20},
            "fillOpacity": {
              "value": 0.8
            },
            "hover": {
              "fill": {"value": "#0079c1"},
              "size": {"value": 25}
            },
            "update": {
              "fill": {"value": "#f00"}
            }
          }
        }
      },
      {
        "type": "line",
        "from": {"data": "table"},
        "properties": {
          "enter": {
            "x": {"scale": "x", "field": "attributes.{time.field}"},
            "y": {"scale": "y", "field": "attributes.{value.field}"},
            "y2": {"scale": "y", "value": 0},
            "stroke": {"value": "#0079c1"}
          }
        }
      }
    ]
  }
}
var chart = new Cedar({"specification":spec});

  var dataset = {
    "url":"https://services.arcgis.com/bkrWlSKcjUDFDtgw/arcgis/rest/services/It's_a_Tornado_Map/FeatureServer/0",
    "mappings":{
      "time": {"field":"Date", "label": "Time"},
      "value": {"field":"Injuries", "label": "Injuries"},
      "sort":"Date"

    }
  };
  chart.tooltip = {
    "title": "{Year}",
    "content": "{Injuries} injuries<br/>{Fatalities} fatalities"
  };

  chart.dataset = dataset;
  //chart.dataset.mappings.sort = "DATE";
  chart.show({
    elementId: "#chart",
    autolabels: true,
    renderer: "svg"
  });


  $(function() {
    $( "#resizable" ).resizable({
      resize: function() { chart.update(); }
    });
  });
</script>
