---
layout: example.hbs
---


<h1>Inlined Chart Specification</h1>

<div id="chart"></div>


{{#markdown}}
```html
  //create a cedar chart
  var chart = new Cedar();

  //create the specification
  var spec ={
  "inputs": [
    {"name": "y", "type": ["numeric","string"], "required": true},
    {"name": "label", "type": ["string"], "required": false},
    {"name": "radius", "type": ["numeric"], "required": true}
  ],
  "template":{
    "padding": "strict",
    "data": [
      {
        "name": "table",
        "transform": [
          {"type": "pie", "value": "attributes.{y.field}"},
          {"type": "formula", "field": "hyp", "expr": "{radius}"},
          {"type": "formula", "field": "theta", "expr": "d.startAngle + 0.5 *(d.endAngle - d.startAngle) - 1.57079633"},
          {"type": "formula", "field": "x_mid", "expr": "{radius} / 2"},
          {"type": "formula", "field": "y_mid", "expr": "{radius} / 2"},
          {"type": "formula", "field": "x", "expr": "d.x_mid + (d.hyp * Math.cos(d.theta))"},
          {"type": "formula", "field": "y", "expr": "d.y_mid + (d.hyp * Math.sin(d.theta))"}          
        ]
      }
    ],
    "scales": [
      {
        "name": "r",
        "type": "sqrt",
        "domain": {"data": "table", "field": "attributes.{y.field}"}
      }
    ],
    "marks": [
      {
        "type": "arc",
        "from": {"data": "table"},
        "properties": {
          "enter": {
            "x": {"group": "width"},
            "y": {"group": "height"},
            "startAngle": {"field": "startAngle"},
            "endAngle": {"field": "endAngle"},
            "outerRadius": {"value": "{radius}"},
            "stroke": {"value": "#fff"}
          },
          "update": {
            "fill": {"value": "#0079c1"}
          },
          "hover": {
            "fill": {"value": "#29b6ea"}
          }
        }
      },
      {
        "type": "text",
        "from": {"data": "table"},
        "properties": {
          "enter": {
            "y": {"field": "y", "mult": 0.6},
            "x": {"field": "x", "mult": 0.6},
            "fill": {"value": "#fff"},
            "align": {"value": "center"},
            "baseline": {"value": "middle"},
            "text": {"field": "attributes.{label.field}"}
          }
        }
      }
    ]
  }
  
}
  //assign to chart
  chart.specification = spec;

  //create the dataset w/ mappings
  var dataset = {
    "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
    "query": {
      "groupByFieldsForStatistics": "FACUSE",
      "outStatistics": [{
        "statisticType": "sum", 
        "onStatisticField": "TOTAL_STUD", 
        "outStatisticFieldName": "TOTAL_STUD_SUM"
      }]
    },    
    "mappings":{
      "y": {"field":"TOTAL_STUD_SUM","label":"Total Students"},
      "label": {"field":"FACUSE","label":"Facility Use"},
      "radius": 360
    }
  };

  //assign to the chart
  chart.dataset = dataset;

  //show the chart
  chart.show({
    elementId: "#chart",
    width: 800,
    height: 800
  });
```
{{/markdown}}


<script>
  //create a cedar chart
  var chart = new Cedar();

  //create the specification
  var spec ={
    "inputs": [
      {"name": "y", "type": ["numeric","string"], "required": true},
      {"name": "label", "type": ["string"], "required": false},
      {"name": "radius", "type": ["numeric"], "required": true}
    ],
    "template":{
      "padding": "strict",
      "data": [
        {
          "name": "table",
          "transform": [
            {"type": "pie", "field": "attributes.{y.field}"},
            {"type": "formula", "field": "hyp", "expr": "{radius}"},
            {"type": "formula", "field": "theta", "expr": "datum.layout_start + 0.5 *(datum.layout_end - datum.layout_start) - 1.57079633"},
            {"type": "formula", "field": "x", "expr": "datum.hyp * cos(datum.theta)"},
            {"type": "formula", "field": "y", "expr": "datum.hyp * sin(datum.theta)"}     
          ]
        }
      ],
      "scales": [
        {
          "name": "r",
          "type": "sqrt",
          "domain": {"data": "table", "field": "attributes.{y.field}"}
        }
      ],
      "marks": [
        {
          "type": "arc",
          "from": {"data": "table"},
          "properties": {
            "enter": {
              "x": {"group": "width"},
              "y": {"group": "height"},
              "startAngle": {"field": "layout_start"},
              "endAngle": {"field": "layout_end"},
              "outerRadius": {"value": "{radius}"},
              "stroke": {"value": "#fff"}
            },
            "update": {
              "fill": {"value": "#0079c1"}
            },
            "hover": {
              "fill": {"value": "#29b6ea"}
            }
          }
        },
        {
          "type": "text",
          "from": {"data": "table"},
          "properties": {
            "enter": {
              "fill": {"value": "#fff"},
              "y": {"field": "y", "mult": 0.6},
              "x": {"field": "x", "mult": 0.6},
              "fill": {"value": "#fff"},
              "align": {"value": "center"},
              "baseline": {"value": "middle"},
              "text": {"field": "attributes.{label.field}"}
            }
          }
        }
      ]
    }
    
  }
  //assign to chart
  chart.specification = spec;

  //create the dataset w/ mappings
  var dataset = {
    "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
    "query": {
      "groupByFieldsForStatistics": "FACUSE",
      "outStatistics": [{
        "statisticType": "sum", 
        "onStatisticField": "TOTAL_STUD", 
        "outStatisticFieldName": "TOTAL_STUD_SUM"
      }]
    },    
    "mappings":{
      "y": {"field":"TOTAL_STUD_SUM","label":"Total Students"},
      "label": {"field":"FACUSE","label":"Facility Use"},
      "radius": 360
    }
  };

  //assign to the chart
  chart.dataset = dataset;

  //show the chart
  chart.show({
    elementId: "#chart",
    width: 800,
    height: 800,
    renderer: "svg",

  });
</script>