---
layout: example.hbs
---


  <h1>Templates <small>Load template from a json file</small></h1>
  
  <div id="chart"></div>

{{#markdown}}
```html
{{>example-code-header}}
 
{{>example-code-footer}}
```
{{/markdown}}



<script>  
  var cedar = new Cedar();

  var dataSource = {
    url:"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5"
  };

  var fieldMappings = {
    "x": "POPULATION_ENROLLED_2008",
    "y": "SQUARE_FOOTAGE",
    "color":"FACUSE"
  };
  
  var tmplUrl = "{{assets}}data/templates/scatter-template-v2.json";
  
  //use helper to get the template...
  Cedar.getJson(tmplUrl, function(err,template){
    if(err){
      console.error(err);
      return;
    }
    //cook the spec
    var chartJson = cedar.cook(template, dataSource, fieldMappings);
    console.info()
    var opts = {
      elementId: "#chart",
      spec: chartJson
    };

    //render
    cedar.show( opts );

  });

</script>