---
title: Time chart
layout: example.hbs
---


<h1>Time Example</h1>


<div id="chart"></div>

<pre class="prettyprint">var chart = new Cedar({"type":"time"});

var dataset = {
  "url":"https://services.arcgis.com/bkrWlSKcjUDFDtgw/arcgis/rest/services/It's_a_Tornado_Map/FeatureServer/0",
  "mappings":{
    "time": {"field":"Date", "label": "Date"},
    "value": {"field":"Injuries", "label": "Injuries"},
    "sort":"Date"
  }
};

chart.tooltip = {
  "title": "{Year}",
  "content": "{Injuries} injuries / {Fatalities} fatalities"
};

chart.dataset = dataset;
// chart.dataset.mappings.sort = "DATE";
chart.show({
  elementId: "#chart",
  autolabels: true
}); 
</pre>

<script>
  
  var chart = new Cedar({"type":"time"});

  var dataset = {
    "url":"https://services.arcgis.com/bkrWlSKcjUDFDtgw/arcgis/rest/services/It's_a_Tornado_Map/FeatureServer/0",
    "mappings":{
      "time": {"field":"Date", "label": "Date"},
      "value": {"field":"Injuries", "label": "Injuries"},
      "sort":"Date"

    }
  };

  chart.tooltip = {
    "title": "{Year}",
    "content": "{Injuries} injuries / {Fatalities} fatalities"
  };

  chart.dataset = dataset;
  // chart.dataset.mappings.sort = "DATE";
  chart.show({
    elementId: "#chart",
    autolabels: true
  }); 
</script>