---
title: Time chart
layout: example.hbs
---


<h1>Time Example</h1>


<div id="chart"></div>

<pre class="prettyprint">var chart = new Cedar({"type":"time"});

  var datasets = [
    {
      "url": "https://services.arcgis.com/bkrWlSKcjUDFDtgw/arcgis/rest/services/It's_a_Tornado_Map/FeatureServer/0",
      "mappings":{
        "category": { "field": "Date", "label": "Date" },
        "sort": "Date",
        "series": [
          { "field":"Injuries","label":"Injuries" }
        ]
      }
    }
  ];

chart.tooltip = {
  "title": "{Year}",
  "content": "{Injuries} injuries<br/>{Fatalities} fatalities"
};

chart.datasets = datasets;
//chart.dataset.mappings.sort = "DATE";
chart.show({
  elementId: "#chart",
  autolabels: true
});
</pre>

<script>

  var chart = new Cedar({"type":"time"});

  var datasets = [
    {
      "url": "https://services.arcgis.com/bkrWlSKcjUDFDtgw/arcgis/rest/services/It's_a_Tornado_Map/FeatureServer/0",
      "mappings":{
        "category": { "field": "Date", "label": "Date" },
        "sort": "Date",
        "series": [
          { "field":"Injuries","label":"Injuries" }
        ]
      }
    }
  ];

  chart.tooltip = {
    "title": "{Year}",
    "content": "{Injuries} injuries<br/>{Fatalities} fatalities"
  };

  chart.datasets = datasets;
  //chart.dataset.mappings.sort = "DATE";
  chart.show({
    elementId: "#chart",
    autolabels: true
  });


</script>
