---
title: Time Dots Example
layout: example.hbs
---


<h1>Time Dots Example</h1>

<div id="chart"></div>

{{#markdown}}
```js
{{>example-time-dots}}

```
{{/markdown}}

<script>
{{>example-time-dots}}
</script>