---
layout: page.hbs
---

<div class="row">

	<div class="col-lg-3">
	  {{> sidebar-examples }}
	</div>
	<div class="col-lg-9">
   	  <h2 class="page-header">{{page.title}}</h2>
	  {{> body }}
	  <div class="wrap">
	    <p><a href="https://github.com/esri/cedar/edit/master/{{page.src}}">Edit this page on GitHub</a></p>
	  </div>
	</div>

</div>
