# Mac
.DS_Store
Icon
._*
.Spotlight-V100

# SublimeText
/*.sublime-project
*.sublime-workspace
*.sublime-project
.idea

# SASS
.sass-cache

# Node
node_modules
npm-debug.log

# Coverage
coverage

# Grunt
.grunt/

# bower_components in site
bower_components

# Debugging Files
working
lerna-debug.log
debug/*.html
!debug/sample.html
yarn-error.log

# Docs Build
site/build

# Built Files
dist
compiled

# Test Build
test/js

# Package yarn lockfiles
packages/*/yarn.lock

# @esri/cedar package README is copied from root
packages/cedar/README.md

# docs content that is generated 
docs/scripts/
docs/api

.vscode

packages/*/.rpt2_cache
