---
title: .datasets property
layout: documentation.hbs
---

## .datasets Property
Getter/Setter for <a href="{{assets}}api/json/datasets-json.html">`datasets`</a>. Allows the developer to make changes to the dataset, most usefully the <a href="{{assets}}api/json/datasets-json.html#dataset-query">`.query`</a> hash.

### Getter Syntax
`var ds = chart.datasets;`


### Setter Syntax
`chart.datasets = myDatasetObject;`

#### Example Code
```
<div id='chartDiv'></div>

<script>
var chart = new Cedar({'specification': 'https://example.org/url_to_specification.json'})

//create dataset object
var datasets = [
  {
    "url":"https://services.arcgis.com/uDTUpUPbk8X8mXwl/arcgis/rest/services/Public_Schools_in_Onondaga_County/FeatureServer/0"
  }
];

var series = [
  {
    "category": {"field":"District","label":"District"},
    "value": {"field":"Number_of","label":"Student Number_of"}
  }
]

//assign to chart
chart.datasets = datasets;
chart.series = series;

//create and render a chart
chart.show({
  'elementId': '#chartDiv'
});

</script>
```
