---
title: Cedar.show Method
layout: documentation.hbs
---

## .show( opt )
Renders a cedar chart object into the specified element in the DOM.

`chart.show({elementId:"#chartDiv"})`

#### Arguments

| Name | Type | Required | Description |
| --- | --- | --- | --- |
| `elementId` | `string` | yes | Id of the DOM node to render the chart into. |

#### Example Code
```
<div id='chartDiv'></div>

<script>
var dataset = {
    "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
    "mappings":{
      "group": {"field":"CAPITALGAINS","label":"Capital Gains"},
      "count": {"field":"CAPACITY","label":"Student Capacity"}
    }
  };

  var chart = new Cedar({"specification":"{{assets}}data/templates/bar.json", "dataset": dataset});

//create and render a chart
chart.show({
  'elementId': '#chartDiv'
});

</script>
```
