@import '../../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';

  .cedar-tooltip {
    background-color: #f36f22;
    padding: 3px 10px;
    color: #fff;
    position: absolute;
    z-index: 2000;
    font-size: 10px;    
  }
  .cedar-tooltip .title {
    font-size: 13pt;
    font-weight: bold;
  }
  .cedar-tooltip .content {
    font-size: 10pt;
  }
  /* Add the caret */
  .cedar-tooltip:after 
  {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #f36f22;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 14px;
  }  