---
layout: page.hbs
---

<div class="row">
  <h1>cedar.js <small>Lightweight charting for the ArcGIS platform</small></h1>
  
  <div class="col-lg-12" id="chart">
  </div>

</div>


<script>
Cedar.render({
    elementId: "#chart",
    spec: "/data/charts/simple-scatter-chart.json"
  });




</script>