---
layout: page.hbs
---

<div class="row">
  <h1>cedar.js <small>Lightweight charting for the ArcGIS platform</small></h1>
  
  <div class="col-lg-12" id="chart">
  </div>

</div>


<script>

var cedar = new Cedar();
cedar.show({
    elementId: "#chart",
    spec: "{{assets}}data/charts/home-scatter-chart.json"
  });




</script>