---
layout: page.hbs
---

<div class="row">
  <div class="col-lg-4">
	<h2>cedar.js <small>charts for ArcGIS</small></h2>  
 </div> 
  <div class="col-lg-8">
  	<p>
  	Cedar is a Javascript library for building visualizations from the GeoServices API. This includes common chart types such as bar charts, line charts, scatterplots, as well as custom visualizations designed with the <a href="http://vega.github.io">Vega grammar</a>. Built on D3.js - Cedar is extensible and interactive.
  	</p>
  	<p>Cedar is open-source under the Apache license. Visit the <a href="http://github.com/esri/cedar">Esri Github</a> repository to learn more and contribute.</p>
  </div>

</div>
<div class="row">
<div class="col-lg-7">
  <h3>Getting Started</h3>
  <p>Cedar just requires a few elements to create your first chart: Type, Dataset, Mappings. There are commonly supported types such as bar, pie, bar-horizontal, scatter - and developers can design their own charts.</p>
</div>
</div>
<div class="row">
  <div class="col-lg-7">
    <pre>
var chart = new Cedar({
  "type": "bar",
  "dataset": {
    "data": {"features": [
      {"attributes": {"city": "Washington, DC", "pop": 658893}},
      {"attributes": {"city": "Los Angeles, CA", "pop": 3884000}},
      {"attributes": {"city": "Portland, OR", "pop": 609456}},
      {"attributes": {"city": "Portland, ME", "pop": 66318}}]},
    "mappings": {
      "x": {"field":"city", "label": "City"},
      "y": {"field":"pop", "label": "Population"} } } });
chart.show({ elementId: "#chart", height: 300, width: 400 });</pre>
    <script>
var chart = new Cedar({
  "type": "bar",
  "dataset": {
    "data": {"features": [
      {"attributes": {"city": "Los Angeles, CA", "pop": 3884000}},
      {"attributes": {"city": "Washington, DC", "pop": 658893}},
      {"attributes": {"city": "Portland, OR", "pop": 609456}},
      {"attributes": {"city": "Portland, ME", "pop": 66318}}]},
    "mappings": {
      "x": {"field":"city", "label": "City"},
      "y": {"field":"pop", "label": "Population"} } } });
chart.show({ elementId: "#chart", height: 300, width: 400 });    
    </script>
  </div>
  <div class="col-lg-5">
    <div  id="chart"></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h3>Explore Examples</h3>
    <ul>
      <li><a href="/examples/bar.html">Bar Chart</a></li>
      <li><a href="/examples/horizontal.html">Horizontal Chart</a></li>
      <li><a href="/examples/scatterplot.html">Scatterplot</a></li>
      <li><a href="/examples/pie-simple.html">Pie Chart</a></li>      
      <li><a href="/examples/map-to-chart-interaction.html">Map + Chart</a></li>
      <li><a href="/examples/drill-down.html">Drilldown Chart</a></li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h3>Simple API</h3>
    <p>Learn more about the <a href="/api/">simple API</a> that is being developed.</p>
  </div>
  <div class="col-lg-4">
    <h3>Open Source</h3>
    <p>
      Cedar is maintained <a href="http://github.com/esri/cedar">on Github</a>. Pull Requests and Issues accepted.
    </p>
  </div>

</div>