---
layout: page.hbs
---

<div class="row">
  <h1>cedar.js <small>Lightweight charting for the ArcGIS platform</small></h1>
  
  <div class="col-lg-12" id="chart">
  </div>

</div>


<script>

 var chart = new Cedar({
    "definition":"{{assets}}data/definitions/home-scatter-chart.json"
  });

  chart.show({
    elementId: "#chart",
  });



</script>