---
title: cedar.js
layout: page.hbs
---

<div class="row page-header">
  <div class="col-lg-4">
    <h2 class="">{{page.title}}</h2>
  </div> 
  <div class="col-lg-8">
  	<p>
  	Cedar is a Javascript library for crafting visualizations, in particular with the <a href="http://geoservices.github.io/">GeoServices API</a> from ArcGIS. This includes common chart types such as bar charts, line charts, scatterplots, as well as custom graphics designed with <a href="http://vega.github.io">Vega grammar</a>. Built on D3.js - Cedar is extensible and interactive.
  	</p>
  	<p>Cedar is open-source under the Apache license. Visit the <a href="http://github.com/esri/cedar">Esri Github</a> repository to learn more and contribute.</p>
  </div>

</div>
<div class="row">
  <div class="col-lg-12">
  <h2>Bar Chart</h2>
  </div>
  <div class="col-lg-6">
  <pre class="prettyprint">
var features = [{"attributes": {...}, ...]};
var chart1 = new Cedar({
  "type": "bar",
  "tooltip": {
    "title": "{ZIP_CODE}",
    "content": "{TOTAL_STUD} students"
  },
  "dataset": {
    "data": features,
    "mappings": {
      "x": {"field":"ZIP_CODE","label":"ZIP Code"},
      "y": {"field":"TOTAL_STUD","label":"Total Students"} } } });
chart1.show({elementId: "#chart1", height: 300 });
  </pre>
  </div>

  <div class="col-lg-6">
  	<div  id="chart1"></div>
  </div>

</div>

<div class="row">
  <hr>  
  <div class="col-lg-12">
    <h2>Horizontal Chart</h2>
  </div>
  <div class="col-lg-6">
    <pre class="prettyprint">
var chart2 = new Cedar({
  "type": "bar-horizontal",
  "tooltip": {
    "title": "{FACUSE}",
    "content": "{TOTAL_STUD} students"
  },
  "dataset": {
    "data": features,
    "mappings": {
      "x": {"field":"TOTAL_STUD","label":"Total Students"}, 
      "y": {"field":"FACUSE","label":"Facility Use"}}}});
chart2.show({elementId: "#chart2", height: 300});
    </pre>
  </div>
  <div class="col-lg-6">
    <div id="chart2"></div>
  </div>
</div>

<div class="row">
  <hr>
  <div class="col-lg-12">
    <h2>Scatterplot</h2>
  </div>
  <div class="col-lg-6">
    <pre class="prettyprint">
var chart3 = new Cedar({
  "type": "scatter",
  "tooltip": {
    "title": "{ZIP_CODE}",
    "content": "{TOTAL_STUD} students"
  },
  "dataset": {
    "data": features,
    "mappings": {
      "x": {"field":"CAPACITY","label":"Capacity"},
      "y": {"field":"TOTAL_STUD","label":"Total Students"},
      "color": {"field":"FACUSE","label":"Total Students"}  } } });
chart3.show({elementId: "#chart3", height: 300 });
    </pre>
  </div>
  <div class="col-lg-6">
  	<div  id="chart3"></div>
  </div>
 </div>
<div class="row">
  <hr>
  <div class="col-lg-12">
    <h2>Learn more...</h2>
    <p>
      Read the <a href="./tutorial/">Tutorial</a> for a walkthrough getting started with Cedar. See more <a href="examples/">Examples</a>, learn the <a href="api/">API</a>, or check out the code on <a href="https://github.com/Esri/cedar">GitHub</a>.
    </p>
  </div>
 </div> 
<script>
  var features = [{"attributes":{"CAPACITY":null,"TOTAL_STUD":0,"FACUSE":"ArtsCenter","SQUARE_FOOTAGE":null,"ZIP_CODE":20007}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":321,"FACUSE":"EducationCampus","SQUARE_FOOTAGE":null,"ZIP_CODE":20009}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":329,"FACUSE":"HighSchool/Specialized","SQUARE_FOOTAGE":205776,"ZIP_CODE":20002}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":253,"FACUSE":"HighSchool/Specialized","SQUARE_FOOTAGE":null,"ZIP_CODE":20001}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":0,"FACUSE":"ArtsCenter","SQUARE_FOOTAGE":null,"ZIP_CODE":20010}},{"attributes":{"CAPACITY":1565,"TOTAL_STUD":910,"FACUSE":"HighSchool","SQUARE_FOOTAGE":271300,"ZIP_CODE":20032}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":315,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":144900,"ZIP_CODE":20020}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":735,"FACUSE":"YouthEngagement","SQUARE_FOOTAGE":null,"ZIP_CODE":20032}},{"attributes":{"CAPACITY":471,"TOTAL_STUD":423,"FACUSE":"EducationCampus","SQUARE_FOOTAGE":69600,"ZIP_CODE":20011}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":556,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20008}},{"attributes":{"CAPACITY":1095,"TOTAL_STUD":514,"FACUSE":"HighSchool","SQUARE_FOOTAGE":343400,"ZIP_CODE":20001}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":23,"FACUSE":"YouthEngagement","SQUARE_FOOTAGE":null,"ZIP_CODE":20002}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":84,"FACUSE":"ElementarySchool/Specialized","SQUARE_FOOTAGE":null,"ZIP_CODE":20002}},{"attributes":{"CAPACITY":467,"TOTAL_STUD":306,"FACUSE":"EducationCampus","SQUARE_FOOTAGE":119000,"ZIP_CODE":20012}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":211,"FACUSE":"ElementarySchool/Specialized","SQUARE_FOOTAGE":null,"ZIP_CODE":20002}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":375,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20002}},{"attributes":{"CAPACITY":900,"TOTAL_STUD":89,"FACUSE":"MiddleSchool","SQUARE_FOOTAGE":109000,"ZIP_CODE":20024}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":670,"FACUSE":"MiddleSchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20002}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":355,"FACUSE":"EducationCampus","SQUARE_FOOTAGE":null,"ZIP_CODE":20008}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":328,"FACUSE":"MiddleSchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20019}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":459,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":82200,"ZIP_CODE":20010}},{"attributes":{"CAPACITY":438,"TOTAL_STUD":236,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20003}},{"attributes":{"CAPACITY":607,"TOTAL_STUD":489,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":66600,"ZIP_CODE":20010}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":429,"FACUSE":"MiddleSchool/HighSchool//Specialized","SQUARE_FOOTAGE":null,"ZIP_CODE":20010}},{"attributes":{"CAPACITY":525,"TOTAL_STUD":345,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":65500,"ZIP_CODE":20032}},{"attributes":{"CAPACITY":173,"TOTAL_STUD":308,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":20000,"ZIP_CODE":20007}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":305,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":77700,"ZIP_CODE":20032}},{"attributes":{"CAPACITY":571,"TOTAL_STUD":261,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":110800,"ZIP_CODE":20032}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":60,"FACUSE":"YouthEngagement","SQUARE_FOOTAGE":null,"ZIP_CODE":20003}},{"attributes":{"CAPACITY":461,"TOTAL_STUD":224,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":56000,"ZIP_CODE":20019}},{"attributes":{"CAPACITY":406,"TOTAL_STUD":290,"FACUSE":"EducationCampus","SQUARE_FOOTAGE":63000,"ZIP_CODE":20011}},{"attributes":{"CAPACITY":1240,"TOTAL_STUD":547,"FACUSE":"HighSchool","SQUARE_FOOTAGE":271300,"ZIP_CODE":20012}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":304,"FACUSE":"EducationCampus","SQUARE_FOOTAGE":null,"ZIP_CODE":20017}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":327,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20005}},{"attributes":{"CAPACITY":276,"TOTAL_STUD":292,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":46800,"ZIP_CODE":20002}},{"attributes":{"CAPACITY":1565,"TOTAL_STUD":477,"FACUSE":"MiddleSchool/HighSchool","SQUARE_FOOTAGE":355400,"ZIP_CODE":20009}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":549,"FACUSE":"EducationCampus","SQUARE_FOOTAGE":null,"ZIP_CODE":20011}},{"attributes":{"CAPACITY":90,"TOTAL_STUD":67,"FACUSE":"YouthEngagement","SQUARE_FOOTAGE":null,"ZIP_CODE":20002}},{"attributes":{"CAPACITY":181,"TOTAL_STUD":257,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":17400,"ZIP_CODE":20008}},{"attributes":{"CAPACITY":559,"TOTAL_STUD":341,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":73200,"ZIP_CODE":20032}},{"attributes":{"CAPACITY":520,"TOTAL_STUD":384,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20020}},{"attributes":{"CAPACITY":500,"TOTAL_STUD":517,"FACUSE":"HighSchool/Specialized","SQUARE_FOOTAGE":167500,"ZIP_CODE":20007}},{"attributes":{"CAPACITY":636,"TOTAL_STUD":235,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":87600,"ZIP_CODE":20019}},{"attributes":{"CAPACITY":460,"TOTAL_STUD":327,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":83900,"ZIP_CODE":20019}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":357,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20009}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":308,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20020}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":396,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20009}},{"attributes":{"CAPACITY":448,"TOTAL_STUD":386,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":77500,"ZIP_CODE":20020}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":348,"FACUSE":"MiddleSchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20019}},{"attributes":{"CAPACITY":900,"TOTAL_STUD":1014,"FACUSE":"MiddleSchool","SQUARE_FOOTAGE":180000,"ZIP_CODE":20016}},{"attributes":{"CAPACITY":479,"TOTAL_STUD":269,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":57100,"ZIP_CODE":20019}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":181,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20019}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":293,"FACUSE":"HighSchool/Specialized","SQUARE_FOOTAGE":null,"ZIP_CODE":20017}},{"attributes":{"CAPACITY":486,"TOTAL_STUD":707,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":113600,"ZIP_CODE":20015}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":469,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20002}},{"attributes":{"CAPACITY":1110,"TOTAL_STUD":530,"FACUSE":"MiddleSchool","SQUARE_FOOTAGE":210700,"ZIP_CODE":20032}},{"attributes":{"CAPACITY":517,"TOTAL_STUD":346,"FACUSE":"EducationCampus","SQUARE_FOOTAGE":66600,"ZIP_CODE":20011}},{"attributes":{"CAPACITY":474,"TOTAL_STUD":237,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":60200,"ZIP_CODE":20009}},{"attributes":{"CAPACITY":1085,"TOTAL_STUD":810,"FACUSE":"HighSchool","SQUARE_FOOTAGE":156000,"ZIP_CODE":20016}},{"attributes":{"CAPACITY":1485,"TOTAL_STUD":1633,"FACUSE":"HighSchool","SQUARE_FOOTAGE":271300,"ZIP_CODE":20016}},{"attributes":{"CAPACITY":213,"TOTAL_STUD":347,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":17400,"ZIP_CODE":20007}},{"attributes":{"CAPACITY":438,"TOTAL_STUD":254,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":70800,"ZIP_CODE":20024}},{"attributes":{"CAPACITY":549,"TOTAL_STUD":252,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":66200,"ZIP_CODE":20032}},{"attributes":{"CAPACITY":460,"TOTAL_STUD":403,"FACUSE":"MiddleSchool","SQUARE_FOOTAGE":105900,"ZIP_CODE":20002}},{"attributes":{"CAPACITY":364,"TOTAL_STUD":548,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":98200,"ZIP_CODE":20016}},{"attributes":{"CAPACITY":578,"TOTAL_STUD":521,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":69300,"ZIP_CODE":20003}},{"attributes":{"CAPACITY":471,"TOTAL_STUD":361,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":65000,"ZIP_CODE":20032}},{"attributes":{"CAPACITY":547,"TOTAL_STUD":355,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":83800,"ZIP_CODE":20020}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":258,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20002}},{"attributes":{"CAPACITY":412,"TOTAL_STUD":382,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":98900,"ZIP_CODE":20002}},{"attributes":{"CAPACITY":332,"TOTAL_STUD":331,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":79700,"ZIP_CODE":20012}},{"attributes":{"CAPACITY":281,"TOTAL_STUD":244,"FACUSE":"EducationCampus","SQUARE_FOOTAGE":69600,"ZIP_CODE":20011}},{"attributes":{"CAPACITY":304,"TOTAL_STUD":310,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":38500,"ZIP_CODE":20011}},{"attributes":{"CAPACITY":1425,"TOTAL_STUD":303,"FACUSE":"HighSchool","SQUARE_FOOTAGE":288800,"ZIP_CODE":20003}},{"attributes":{"CAPACITY":655,"TOTAL_STUD":277,"FACUSE":"MiddleSchool","SQUARE_FOOTAGE":154000,"ZIP_CODE":20020}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":157,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20009}},{"attributes":{"CAPACITY":527,"TOTAL_STUD":463,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":79800,"ZIP_CODE":20010}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":412,"FACUSE":"MiddleSchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20007}},{"attributes":{"CAPACITY":446,"TOTAL_STUD":240,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":58908,"ZIP_CODE":20020}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":418,"FACUSE":"EducationCampus","SQUARE_FOOTAGE":null,"ZIP_CODE":20001}},{"attributes":{"CAPACITY":452,"TOTAL_STUD":402,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":69600,"ZIP_CODE":20003}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":527,"FACUSE":"HighSchool/Specialized","SQUARE_FOOTAGE":47200,"ZIP_CODE":20037}},{"attributes":{"CAPACITY":507,"TOTAL_STUD":223,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":59900,"ZIP_CODE":20019}},{"attributes":{"CAPACITY":387,"TOTAL_STUD":482,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20011}},{"attributes":{"CAPACITY":250,"TOTAL_STUD":89,"FACUSE":"SpecialEducationSchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20011}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":320,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":78300,"ZIP_CODE":20032}},{"attributes":{"CAPACITY":1055,"TOTAL_STUD":497,"FACUSE":"HighSchool","SQUARE_FOOTAGE":331900,"ZIP_CODE":20011}},{"attributes":{"CAPACITY":332,"TOTAL_STUD":242,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":43000,"ZIP_CODE":20019}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":290,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20016}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":220,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20019}},{"attributes":{"CAPACITY":474,"TOTAL_STUD":296,"FACUSE":"EducationCampus","SQUARE_FOOTAGE":63900,"ZIP_CODE":20018}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":301,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":54427,"ZIP_CODE":20001}},{"attributes":{"CAPACITY":850,"TOTAL_STUD":348,"FACUSE":"MiddleSchool","SQUARE_FOOTAGE":155100,"ZIP_CODE":20002}},{"attributes":{"CAPACITY":528,"TOTAL_STUD":404,"FACUSE":"EducationCampus","SQUARE_FOOTAGE":101400,"ZIP_CODE":20018}},{"attributes":{"CAPACITY":461,"TOTAL_STUD":256,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":88300,"ZIP_CODE":20020}},{"attributes":{"CAPACITY":479,"TOTAL_STUD":344,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":64800,"ZIP_CODE":20020}},{"attributes":{"CAPACITY":520,"TOTAL_STUD":233,"FACUSE":"EducationCampus","SQUARE_FOOTAGE":95100,"ZIP_CODE":20037}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":150,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20002}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":670,"FACUSE":"HighSchool/Specialized","SQUARE_FOOTAGE":null,"ZIP_CODE":20002}},{"attributes":{"CAPACITY":1040,"TOTAL_STUD":784,"FACUSE":"HighSchool","SQUARE_FOOTAGE":247900,"ZIP_CODE":20020}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":252,"FACUSE":"MiddleSchool","SQUARE_FOOTAGE":277000,"ZIP_CODE":20020}},{"attributes":{"CAPACITY":428,"TOTAL_STUD":265,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":65000,"ZIP_CODE":20001}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":497,"FACUSE":"YouthEngagement","SQUARE_FOOTAGE":null,"ZIP_CODE":20011}},{"attributes":{"CAPACITY":625,"TOTAL_STUD":475,"FACUSE":"EducationCampus","SQUARE_FOOTAGE":103700,"ZIP_CODE":20002}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":90,"FACUSE":"SpecialEducationSchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20011}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":352,"FACUSE":"EducationCampus","SQUARE_FOOTAGE":null,"ZIP_CODE":20018}},{"attributes":{"CAPACITY":620,"TOTAL_STUD":413,"FACUSE":"HighSchool/Specialized","SQUARE_FOOTAGE":180000,"ZIP_CODE":20001}},{"attributes":{"CAPACITY":900,"TOTAL_STUD":174,"FACUSE":"MiddleSchool","SQUARE_FOOTAGE":109000,"ZIP_CODE":20024}},{"attributes":{"CAPACITY":322,"TOTAL_STUD":368,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":95000,"ZIP_CODE":20019}},{"attributes":{"CAPACITY":835,"TOTAL_STUD":384,"FACUSE":"EducationCampus","SQUARE_FOOTAGE":215400,"ZIP_CODE":20002}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":442,"FACUSE":"EducationCampus","SQUARE_FOOTAGE":null,"ZIP_CODE":20010}},{"attributes":{"CAPACITY":null,"TOTAL_STUD":386,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":null,"ZIP_CODE":20016}},{"attributes":{"CAPACITY":276,"TOTAL_STUD":347,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":47500,"ZIP_CODE":20003}},{"attributes":{"CAPACITY":418,"TOTAL_STUD":457,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":49100,"ZIP_CODE":20008}},{"attributes":{"CAPACITY":474,"TOTAL_STUD":313,"FACUSE":"ElementarySchool","SQUARE_FOOTAGE":83400,"ZIP_CODE":20019}}]

  var chart1 = new Cedar({
  	"type": "bar",
    "tooltip": {
      "title": "{ZIP_CODE}",
      "content": "{TOTAL_STUD} students"
    },
    "dataset": {
    	"data": features,
	    "mappings": {
	      "x": {"field":"ZIP_CODE","label":"ZIP Code"},
	      "y": {"field":"TOTAL_STUD","label":"Total Students"} } } });
  chart1.show({elementId: "#chart1", height: 300 });

  var chart2 = new Cedar({
  	"type": "bar-horizontal",
    "tooltip": {
      "title": "{FACUSE}",
      "content": "{TOTAL_STUD} students"
    },
    "dataset": {
    	"data": features,
	    "mappings": {
	      "x": {"field":"TOTAL_STUD","label":"Total Students"}, 
        "y": {"field":"FACUSE","label":"Facility Use"}} } });
  chart2.show({elementId: "#chart2", height: 300});

  var chart3 = new Cedar({
  	"type": "scatter",
    "tooltip": {
      "title": "{ZIP_CODE}",
      "content": "{TOTAL_STUD} students"
    },
    "dataset": {
    	"data": features,
	    "mappings": {
	      "x": {"field":"CAPACITY","label":"Capacity"},
	      "y": {"field":"TOTAL_STUD","label":"Total Students"},
	      "color": {"field":"FACUSE","label":"Total Students"}  } } });
  chart3.show({elementId: "#chart3", height: 300 });

</script>