---
title: Cedar Tutorial
description: A walkthrough of building a chart
layout: example.hbs
---

A Cedar chart needs four things: Chart Type, Data, Mappings, DOM Element.

First, we create a new Cedar object and specify we want a bar chart. In this example we simply use `type: "bar"`, but instead we could refer to the full URL to a chart specification.

<pre class="prettyprint">var chart = new Cedar({
  "type":"bar"
});
</pre>

Now we need to define the data. We can either use an array of data that we have calculated in our code, or we can refer to an ArcGIS GeoServices layer. For the GeoServices Layer, Cedar will make the HTTP API calls to request data for us.

<pre class="prettyprint">chart.dataset = {
  "url":"https://server.arcgisonline.com/arcgis/rest/services/Demographics/USA_Population_Density/MapServer/4"
};
</pre>

Third, we now create a Mapping between the dataset and the chart type.

<pre class="prettyprint">chart.dataset.mappings = {
  "x": {"field":"NAME","label":"US State"},
  "y": {"field":"TOTPOP_CY","label":"Population"}
}
</pre>

Lastly, we now show the chart and bind it to an HTML DOM element.

<pre class="prettyprint">chart.show({
  elementId: "#chart"
});
</pre>

And that's it, we now have a chart!

<hr>
<h2>Full Output</h2>

We could also pull all this into a single set of commands with some additional options:

<pre class="prettyprint">chart = new Cedar({
  "type": "bar",
  "dataset": {
    "url":"https://maps7.arcgisonline.com/arcgis/rest/services/Veterans_Proportion_From_Population/MapServer/0",
    "query": {
      "orderByFields": "TotPop DESC"
    },
    "mappings":{
      "x": {"field":"STATE_NAME","label":"US State"},
      "y": {"field":"TotPop","label":"Population"}
    }
  }
}).show({
  elementId: "#chart"
});
</pre>

<div id="chart" style="width: 95%"></div>

<script type="text/javascript">
var chart = new Cedar({
  "type": "bar",
  "dataset": {
    "url":"https://maps7.arcgisonline.com/arcgis/rest/services/Veterans_Proportion_From_Population/MapServer/0",
    "query": {
      "orderByFields": "TotPop DESC"
    },
    "mappings":{
      "x": {"field":"STATE_NAME","label":"US State"},
      "y": {"field":"TotPop","label":"Population"}
    }
  }
}).show({
  elementId: "#chart",
  autolabels: true,
  renderer: "svg"
});
</script>

<h3>Learn more</h3>

Now explore the <a href="../examples/">Examples</a> or <a href="../api/">API documentation</a> to learn more about Cedar.
