---
layout: page.hbs
---
<div class="col-lg-12">
{{#markdown}}
# Development Backlog

### Dev Questions
- what type of item are we using to store charts?

### Notes / Random ideas
- the chart json is tightly bound to the datasource - the

### Dev Housekeeping
- [x] update example layout so we can have the live example with the source below that

### Ideas
- optimize for Cedar.show(spec, callback);

- all other things secondary
  - i.e. generateChart requires that you pass an obj, meaning that a dev needs to
  get the chart template from SOMEWHERE.


### Chart Templates
- [x] example loading a template from a file (url)

### Charts
- [x] example loading a pie/scatter/bar from a file
- [x] example loading an inlined chart (scatter)

### Data
- [x] example loading data from a service
- example passing in data
- example with data inlined into chart

### Events
- example showing how to bind to simple (cedar) events
- example showing how to bind to advanced (vega) events
{{/markdown}}
  <div class="wrap">
    <p><a href="http://github.com/esri/cedar/edit/master/{{page.src}}">Edit this sample on GitHub</a></p>
  </div>
</div>