<script>
  //create a cedar chart using the known 'bar' type
  // this is the same as passing {"specification": "path/to/cedar/charts/bar.json"}
  var chart = new Cedar({"type": "bar"});
  //create the dataset w/ mappings
  var dataset = {
    "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
    "query": {
      "groupByFieldsForStatistics": "FACUSE",
      "outStatistics": [{
        "statisticType": "sum", 
        "onStatisticField": "TOTAL_STUD", 
        "outStatisticFieldName": "TOTAL_STUD_SUM"
      }]
    },
    "mappings":{
      "sort": "TOTAL_STUD_SUM DESC",
      "x": {"field":"FACUSE","label":"Facility Use"},
      "y": {"field":"TOTAL_STUD_SUM","label":"Total Students"}
    }
  };

  var tooltipurl = {
    "id": "tooltip-url",
    "title": "{FACUSE}",
    "content": "{TOTAL_STUD_SUM} Students in {FACUSE}"
  }

  //assign to the chart
  chart.dataset = dataset;

  //show the chart
  chart.show({
    elementId: "#chart-url",
    autolabels: true
  });

  function positionTooltip(event, data) {
      if(data === undefined || data === null) {
        var cedartip = document.getElementById(tooltipurl.id);
        cedartip.style.display = "none";
        return;
      }
      var cedartip = document.getElementById(tooltipurl.id);
      cedartip.style.top = event.offsetY+80 + "px";
      cedartip.style.left = event.offsetX+30 + "px";
      cedartip.style.display = "block";
      var content = "<span class='title'>" + tooltipurl.title + "</span><br />";
      content += "<p class='content'>" + tooltipurl.content + "</p>";

      cedartip.innerHTML = content.replace( /\{(\w+)\}/g, function replacer(match, $1){
        return data[$1];
      } );

  };

  chart.on('mouseout', function(event,data){
    positionTooltip(event, data);
  });
  chart.on('mousemove', function(event,data){
    positionTooltip(event, data);
  });  

</script>