<html>
<head>
  <meta charset=utf-8 />
  <title>{{page.data.title}}</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <!-- define packages for Cedar.js and dependencies (d3, Vega) for dojo loader -->
    <script>
      window.dojoConfig = {
        async: true,
        packages: [
          {
            name: 'd3',
            location: 'http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5',
            main: 'd3.min'
          }, {
            name: 'topojson',
            location: 'http://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19',
            main: 'topojson.min'
          }, {
            name: 'vega',
            location: 'http://cdnjs.cloudflare.com/ajax/libs/vega/1.4.3',
            main: 'vega.min'
          }, {
            name: 'cedar',
            location: window.location.pathname.substring(0, window.location.pathname.lastIndexOf('/')) + '/../js',
            main: 'cedar'
          }
        ]
      };
    </script>

</head>
<body>

<div class="row">
  <div class="col-lg-12" id="chart"></div>
</div>

<script>
