<script>
  //create a cedar chart - passing a url to the spec
  var chart = new Cedar({"specification":"{{assets}}data/templates/bar.json"});
  //create the dataset w/ mappings
  var dataset = {
    "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
    "query": {
      "groupByFieldsForStatistics": "ZIP_CODE",
      "outStatistics": [{
        "statisticType": "sum", 
        "onStatisticField": "TOTAL_STUD", 
        "outStatisticFieldName": "TOTAL_STUD_SUM"
      }]
    },
    "mappings":{
      "sort": "TOTAL_STUD_SUM DESC",
      "x": {"field":"ZIP_CODE","label":"ZIP Code"},
      "y": {"field":"TOTAL_STUD_SUM","label":"Total Students"}
    }
  };

  var tooltipurl = {
    "id": "tooltip-url",
    "title": "{ZIP_CODE}",
    "content": "{TOTAL_STUD_SUM} Students in {ZIP_CODE}"
  }

  //assign to the chart
  chart.dataset = dataset;

  //show the chart
  chart.show({
    elementId: "#chart-url"
  });

  chart.on('mouseout', function(event,data){
      var cedartip = document.getElementById(tooltipurl.id);
      cedartip.style.display = "none";
    })
  chart.on('mouseover', function(event,data){
      var cedartip = document.getElementById(tooltipurl.id);
      console.log(event)
      cedartip.style.top = event.offsetY+100 + "px";
      cedartip.style.left = event.offsetX+20 + "px";
      cedartip.style.display = "block";
      var content = "<span class='title'>" + tooltipurl.title + "</span><br />";
      content += "<p class='content'>" + tooltipurl.content + "</p>";

      cedartip.innerHTML = content.replace( /\{(\w+)\}/g, function replacer(match, $1){
        return data[$1];
      } );
    });
</script>