<aside class="sidebar">
  <h5>Using Definitions</h5>
  <nav>
    <ul>
      <li><a href="{{assets}}examples/scatter-def-url.html">Load from Url</a></li>
      <li>In-lined</li>
    </ul>
  </nav>

  <h5>Using Specifications</h5>
  <nav>
    <ul>
      <li><a href="{{assets}}examples/bar-spec-url.html">Load From Url</a></li>
      <li><a href="{{assets}}examples/bar-spec-inlined.html">In-lined</a></li>
    </ul>
  </nav>

  
  <h5>Events</h5>
  <nav>
    <ul>
      <li><a href="{{assets}}examples/scatter-events.html">Scatter Plot Events</a></li>
    </ul>
  </nav>
  <h5>Map Integration</h5>
  <nav>
    <ul>
      <li>Link to JS API Map</li>
      <li>Link to Leaflet Map</li>
      <li>Link to pop-over</li>
    </ul>
  </nav>

   
   
</aside>
