<aside class="sidebar">
  <h5><a href="{{assets}}api-reference/index.html">Cedar Api</a></h5>
  <ul>
    <li><a href="{{assets}}api-reference/render.html">Cedar.render()</a></li>
    <li><a href="{{assets}}api-reference/compile.html">Cedar.compile()</a></li>
  </ul>
  <h5>Helpers</h5>
  <ul>
    <li><a href="{{assets}}api-reference/getjson.html">Cedar.getJson()</a></li>
  </ul>
</aside>